#window-main {
    flex-grow: 1;
}

#testContainer {
    flex-grow: 1;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 5px;
}

#separator {
    min-width: 1px;
    background-color: rgba(0, 0, 0, 0.25);
}

#scenesList, #testablesList {
    min-width: 150px;
}

#rulesList {
    min-width: 200px;
}

#ruleMethodBody {
    flex-grow: 3;
    margin-left: 2px;
    margin-right: 2px;
}

ExtendedListView {
    flex-grow : 1;
    margin-left: 2px;
    margin-right: 2px;
}