@charset 'utf-8';

@import 'node_modules/bulma/sass/utilities/_all';

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 469px;
// 960px container + 4rem
$desktop: 660px + (2 * $gap);
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap);
$widescreen-enabled: true;
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap);
$fullhd-enabled: true;

$navbar-breakpoint: 0px;



@import 'node_modules/bulma/sass/base/_all';
@import 'node_modules/bulma/sass/elements/_all';
@import 'node_modules/bulma/sass/form/_all';
@import 'node_modules/bulma/sass/components/_all';
@import 'node_modules/bulma/sass/grid/_all';
@import 'node_modules/bulma/sass/layout/_all';

@import 'partials/_layout-colors.scss';

@import 'node_modules/flatpickr/dist/flatpickr.min';
@import 'node_modules/flatpickr/dist/themes/material_blue';


$tab-highlight: $fade-grey;
html body.de-use.de-my.de-special.de-sauce.de-styles.de-please div .tabs ul {
    li {
        color: $tab-highlight;
        border-color: $tab-highlight;
        a {
            color: grey;
            background-color: transparent;
            &:hover {
                background-color: transparent;
                color: $tab-highlight;
            }
        }
        
        &.is-active {
            a {
                color: white;
                border-color: transparent;
                background-color: $panel-grey;
            }
        }
    }
}
.my-fancy-test-class-tunafish {
    color: yellow;
}
html body.de-use.de-my.de-special.de-sauce.de-styles.de-please div {

    input.is-static {
        padding-left: 11px;
    }

    div.box {
        background-color: $panel-grey;
    }
    
    h3.title {
        color: white;
    }

    .message.is-danger {
        strong {
            color: #864646;
        }
    }

    .has-background-white {
        background-color: $panel-grey !important;
    }

    textarea.is-static {
        border: none;
    }

    textarea,
    input:not(.flatpickr-hour):not(.flatpickr-minute):not(.cur-year) {
        background-color: #333336;
        color: white;
        &:focus {
            border-color: $primary;
            &.is-danger {
                border-color: lighten($danger, 10%);
            }

        }
        &::placeholder {
            color: #a1a1a9;
        }
    }
}

.no-select {
    /* Keyword values */
    user-select: none;

    /* Mozilla-specific values */
    -moz-user-select: none;

    /* WebKit-specific values */
    -webkit-user-select: none;

    /* Microsoft-specific values */
    -ms-user-select: none;
}



@import 'partials/_layout-pageloader.scss';
@import 'partials/_layout-layout.scss';
@import 'partials/_layout-navbar.scss';
@import 'partials/_layout-sidebar.scss';
//@import 'partials/_layout-placeholders.scss';
@import 'partials/_components-cards.scss';
@import 'partials/_components-widgets.scss';
@import 'partials/_components-buttons.scss';
@import 'partials/_components-dropdowns.scss';
@import 'partials/_components-tabs.scss';
@import 'partials/_components-modals.scss';
@import 'partials/_components-uploaders.scss';
@import 'partials/_components-video.scss';
@import 'partials/_components-datepicker.scss';
@import 'partials/_components-forms.scss';
@import 'partials/_components-radios.scss';
@import 'partials/_components-switch.scss';
@import 'partials/_components-popovers.scss';
@import 'partials/_components-tooltips.scss';
@import 'partials/_components-checkboxes.scss';
@import 'partials/_components-animations.scss';
@import 'partials/_components-utils.scss';
// @import 'partials/_app-chat.scss';
// @import 'partials/_app-feed.scss';
// @import 'partials/_app-inbox.scss';
// @import 'partials/_app-profile.scss';
// @import 'partials/_app-friends.scss';
// @import 'partials/_app-events.scss';
// @import 'partials/_app-news.scss';
@import 'partials/_app-questions.scss';
// @import 'partials/_app-videos.scss';
// @import 'partials/_app-landing.scss';
@import 'partials/_app-signup.scss';
// @import 'partials/_app-login.scss';
// @import 'partials/_app-demo.scss';
@import 'partials/_layout-responsive.scss';


@import 'node_modules/swagger-ui/dist/swagger-ui';
@import 'partials/swagger';