/*! _app-landing.scss | Friendkit | © Css Ninja. 2018-2019 */

/* ==========================================================================
Landing page styles
========================================================================== */

/*
    1. Landing Hero
    2. Landing page content
    3. Side Features
    4. Demos Section
    5. CTA Section
    6. Media Queries
*/

//import mixins
@import "specials-mixins";

/* ==========================================================================
1. Landing Hero
========================================================================== */

.landing-hero-wrapper {
    position: relative;
    background-color: $white;
    background-image: -webkit-linear-gradient(40deg, $white 50%, lighten($accent, 5%) 50%);

    //Js particles
    #particles-js {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .landing-caption {
        h2 {
            font-family: 'Montserrat', sans-serif;
            font-size: 5rem;
            font-weight: bold;
            color: $white-smoke;
            line-height: 1;
            text-shadow: 5px 5px darken($accent, 8%), 10px 10px darken($accent, 8%);
        }

        h3 {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.8rem;
            font-weight: 300;
            color: $white-smoke;
            padding: 0 10px;
            text-shadow: 2px 2px darken($accent, 8%), 5px 5px darken($accent, 8%);
        }

        .button {
            margin: 20px 10px;
            height: 48px;
            text-transform: uppercase;
            font-size: .95rem;
            min-width: 190px;
            color: $accent;

            &:hover {
                box-shadow: $accent-box-shadow;
            }
        }
    }
}

.header-logo {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid $accent;
    box-shadow: $accent-box-shadow;
    background: $accent;
    margin: 10px auto;

    img {
        display: block;
        height: 32px;
        width: 32px;
    }
}

/* ==========================================================================
2. Landing page content
========================================================================== */

.landing-wrapper {
    &.is-grey {
        background: lighten($fade-grey, 7%);
    }

    .made-with {
        max-width: 640px;
        margin: 0 auto 3rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .made-block {
            width: calc(25% - 10px);
            margin: 10px;

            .block-icon {
                height: 90px;
                width: 90px;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $fade-grey;
                border-radius: 50%;
                box-shadow: $light-box-shadow;

                img {
                    display: block;
                    max-width: 60px;
                }
            }

            .block-title {
                text-align: center;
                margin-top: 12px;

                h3 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    color: $dark-text;
                }
            }
        }
    }

    .screen-wrapper {
        border-bottom: 1.4px solid $fade-grey;
        overflow: hidden;

        img {
            display: block;
            border-radius: 8px 8px 0 0;
            border: 1px solid $fade-grey;
            border-bottom: none;
            box-shadow: $light-box-shadow;
            max-width: 940px;
            margin: 0 auto;
        }
    }

    .landing-icon-box {
        text-align: center;
        margin-bottom: 20px;

        svg {
            height: 30px;
            width: 30px;
            stroke-width: 1.4px;
            margin: 0 auto;
        }

        img {
            display: block;
            height: 54px;
            width: 54px;
            margin: 0 auto 4px auto;
        }

        h3 {
            font-family: 'Montserrat', sans-serif;
            color: $dark-text;
            font-weight: 500;
            font-size: .95rem;
        }

        p {
            font-size: .9rem;
            color: $muted-grey;
        }
    }
}

/* ==========================================================================
3. Side Features
========================================================================== */

.side-feature {
    h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: $dark-text;
        font-size: 1.8rem;
    }

    p {
        color: $muted-grey;
        font-size: 1.1rem;
        max-width: 440px;
    }

    img {
        display: block;
        max-width: 460px;
        margin: 0 auto;
    }
}

/* ==========================================================================
4. Demos Section
========================================================================== */

.demos-wrapper {
    background: lighten($fade-grey, 7%);

    .demos-title {
        h3 {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 1.6rem;
            color: $dark-text;
        }
    }

    .demos-list {
        padding: 80px 0;

        .demo-item {
            position: relative;
            display: block;
            overflow: hidden;

            &:hover {
                img {
                    filter: grayscale(0);
                    opacity: 1;
                    box-shadow: $light-box-shadow;
                }

                .go-arrow {
                    transform: translate(0, 0);
                }
            }

            .go-arrow {
                position: absolute;
                bottom: -20px;
                right: -20px;
                height: 80px;
                width: 80px;
                background: darken($accent, 5%);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translate(80px, 80px);
                box-shadow: $accent-box-shadow;
                transition: all .3s;
                z-index: 2;

                &:hover {
                    background: $primary;
                    box-shadow: $primary-box-shadow;
                }

                svg {
                    position: relative;
                    top: -6px;
                    left: -6px;
                    height: 22px;
                    width: 22px;
                    stroke: $white;
                }
            }

            img {
                display: block;
                border: 1px solid $fade-grey;
                filter: grayscale(0.8);
                opacity: .85;
                transition: all .3s;
            }
        }

        h3 {
            padding: 16px 0;
            color: $dark-text;
            text-transform: uppercase;
            font-weight: 500;
            font-size: .8rem;
            font-family: 'Montserrat', sans-serif;
            transition: color .3s;
        }
    }
}

/* ==========================================================================
5. CTA Section
========================================================================== */

.cta-wrapper {
    .cta-title {
        text-align: center;

        h3 {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size: 1.6rem;
            color: $dark-text;
        }

        .custom-button {
            display: flex;
            align-items: center;
            margin: 10px auto;
            max-width: 200px;
            border: 2px solid #D3F4ED;
            border-radius: 100px;
            transition: all .3s;

            &:hover {
                background: #D3F4ED;
                box-shadow: $light-box-shadow;

                span {
                    color: $dark-text;
                }
            }

            img {
                display: block;
                height: 50px;
                width: 50px;
            }

            span {
                display: block;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 1rem;
                color: #8EDFCF;
                margin-left: 12px;
                transition: color .3s;
            }
        }
    }

    .people-img {
        display: block;
        max-width: 480px;
        margin: 0 auto;
    }
}

/* ==========================================================================
6. Media Queries
========================================================================== */

//Mobile
@media (max-width: 767px) {
    .landing-hero-wrapper {
        .landing-caption {
            text-align: center;

            h2 {
                margin-top: 40px;
                font-size: 2.6rem;
                color: $accent;
                text-shadow: 5px 5px lighten($accent, 44%), 10px 10px lighten($accent, 44%);
            }

            h3 {
                color: $accent;
                text-shadow: 2px 2px lighten($accent, 44%), 4px 4px lighten($accent, 44%);
            }

            .buttons .button {
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }
    }

    .side-feature {
        img {
            max-width: 340px;
        }
    }

    .landing-wrapper {
        .made-with {
            flex-wrap: wrap;

            .made-block {
                width: calc(45% - 10px);
            }
        }

        .screen-wrapper {
            img {
                max-width: 100%;
            }
        }
    }
}

//Tablet Portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .landing-hero-wrapper {
        .landing-caption {
            text-align: center;

            img {
                max-width: 580px;
            }

            h2 {
                color: $accent;
                text-shadow: 5px 5px lighten($accent, 44%), 10px 10px lighten($accent, 44%);
            }

            h3 {
                color: $accent;
                text-shadow: 2px 2px lighten($accent, 44%), 4px 4px lighten($accent, 44%);
            }

            .buttons .button {
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }
    }

    .landing-wrapper {
        &.icons-section {
            .columns {
                display: flex;
            }
        }

        .screen-wrapper {
            img {
                max-width: 100%;
            }
        }
    }

    .side-feature {
        h3, p {
            text-align: center;
            margin: 0 auto;
        }

        img {
            max-width: 450px;
            margin: 0 auto;
            display: block;
        }
    }
}

//Tablet Landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .cta-wrapper {
        .people-img {
            max-width: 600px;
        }
    }

    #tour-start {
        display: none !important;
    }
}
