/*! _app-login.scss | Crowdkit | © Css Ninja. 2018-2019 */

/* ==========================================================================
Login styles
========================================================================== */

/*
    0. Login page layout
    1. Media Queries
*/

/* ==========================================================================
0. Login page layout
========================================================================== */

.login-wrapper {
    .hero {
        &.is-login {
            position: relative;
            background: $accent;
            background: linear-gradient(180deg, lighten($accent, 16%), $accent);
            background-size: 400% 400%;
            animation: gradientShift 12s ease infinite;

            .left-caption {
                max-width: 400px;
                margin: 0 auto;

                h2 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    font-size: 3.2rem;
                    color: $white-smoke;
                    line-height: 1.3;
                    text-shadow: 4px 4px darken($accent, 8%), 8px 8px darken($accent, 8%);
                }
            }
        }

        &.form-hero {
            position: relative;

            .logo-wrap {
                position: absolute;
                top: calc(50% - 50px);
                left: -50px;
                height: 100px;
                width: 100px;
                border-radius: 50%;
                background: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: rotate(32deg);

                .wrap-inner {
                    height: 86px;
                    width: 86px;
                    border-radius: 50%;
                    background: $accent;
                    background: linear-gradient(180deg, lighten($accent, 16%), $accent);
                    background-size: 400% 400%;
                    animation: gradientShift 45s ease infinite;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        display: block;
                        max-width: 54px;
                    }
                }
            }
        }
    }

    .form-wrapper {
        max-width: 540px;
        min-width: 380px;
        margin: 0 auto;

        .avatar {
            position: relative;
            height: 110px;
            width: 110px;
            border-radius: 50%;
            margin: 0 auto 20px auto;
            border: 1.4px solid $placeholder;
            display: flex;
            justify-content: center;
            align-items: center;

            .badge {
                position: absolute;
                top: 0;
                right: 0;
                height: 32px;
                width: 32px;
                border-radius: 50%;
                border: 3px solid $white;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $green;

                svg {
                    height: 14px;
                    width: 14px;
                    stroke: $white;
                    stroke-width: 4px;
                }
            }

            img {
                display: block;
                height: 94px;
                width: 94px;
                border-radius: 50%;
            }
        }

        .login-form {
            .field {
                .control {
                    position: relative;

                    .input {
                        height: 40px;
                        padding-left: 40px;

                        &:focus {
                            border-color: $accent;

                            + .input-icon {
                                svg {
                                    stroke: $accent;
                                }
                            }
                        }
                    }

                    .input-icon {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 40px;
                        width: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {
                            height: 18px;
                            width: 18px;
                            stroke: $placeholder;
                            transition: stroke .3s;
                        }
                    }

                    button, .button {
                        height: 46px;
                        font-size: .95rem;
                    }
                }
            }
        }

        .forgot-password {
            padding: 1.5rem !important;

            a {
                color: $muted-grey;
                font-size: .9rem;

                &:hover {
                    color: $accent;
                }
            }
        }
    }
}

/* ==========================================================================
2. Media Queries
========================================================================== */

@media (max-width: 767px) {
    .login-wrapper {
        .logo-wrap {
            display: none !important;
        }

        .form-wrapper {
            min-width: 320px !important;
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .login-wrapper {
        .hero.is-login {
            .left-caption h2 {
                font-size: 2.5rem;
            }
        }
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .login-wrapper {
        .logo-wrap {
            display: none !important;
        }
    }
}
