/*! _app-questions.scss | Friendkit | © Css Ninja. 2018-2019 */

/* ==========================================================================
Questions layout styles
========================================================================== */

/*
    0. Questions Tabs
    1. Questions Wrapper & Layout
    2. Question Content
    3. Other questions
    4. Questions navigation bar
    5. Questions Categories header
    6. Questions Category box
    7. Questions Statistics
    8. Questions Settings
    9. Media Queries
*/

/* ==========================================================================
0. Questions Tabs
========================================================================== */

.question-tabs {
    margin-bottom: 20px !important;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: $light-box-shadow;
    border: 1px solid $fade-grey;
    border-radius: 8px;

    &.is-nav {
        margin-bottom: 0 !important;
        box-shadow: none !important;
        border: none;

        ul li {
            a {
                padding: 1.25em;
                border-bottom: 2px solid transparent;
            }
        }
    }

    ul {
        border-color: transparent;

        li {
            &.is-active {
                a {
                    color: $accent;
                    border-bottom-color: $accent;
                }
            }

            a {
                color: darken($placeholder, 3%);
                border-bottom: 1px solid transparent;
                font-size: .9rem;
                padding: 1em;
            }
        }
    }
}

/* ==========================================================================
1. Questions Wrapper & Layout
========================================================================== */

.questions-wrap, .questions-demo {
    margin: 60px 0;

    &.is-smaller {
        margin: 20px 0;
    }

    .questions-menu {
        margin-right: 40px;
        max-width: 250px;

        &.questions-menu-fixed {
            position: fixed;
            width: 100%;
            max-width: 250px;
            margin-top: 40px;
            opacity: 0;
            pointer-events: none;
            transition: all .5s;

            &.is-faded {
                opacity: 1;
                pointer-events: all;
            }
        }

        li {
            &.is-active {
                a {
                    background: lighten($accent, 46%);

                    svg {
                        stroke: $accent;
                    }

                    span {
                        color: $accent;
                    }
                }
            }

            a {
                display: flex;
                align-items: center;
                height: 50px;
                padding: 0 20px;
                border-radius: 100px;

                svg {
                    height: 22px;
                    height: 22px;
                    margin-right: 10px;
                    stroke: $muted-grey;
                    transition: all .3s;
                }

                span {
                    display: block;
                    font-family: 'Montserrat', sans-serif;
                    font-size: .85rem;
                    color: $dark-text;
                    transition: color .3s;
                }
            }
        }
    }
}

/* ==========================================================================
2. Question Content
========================================================================== */

.question-content {
    max-width: 80%;
    // max-width: 640px;
    margin: 0 auto;

    &.is-large {
        // max-width: 840px;
    }

    .top-single-header {
        margin: 0 0 20px  0;
    }

    .question-block {
        border-bottom: 1px solid darken($fade-grey, 2%);

        &.is-top-spaced {
            margin-top: 30px;
        }

        .question-title {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            color: $dark-text;
            font-size: 1.6rem;

            &.is-link {
                transition: color .3s;

                &:hover {
                    color: $accent;
                }
            }
        }

        .question-author {
            display: flex;
            align-items: center;
            padding: 20px 0;

            img {
                display: block;
                height: 38px;
                width: 38px;
                min-width: 38px;
                border-radius: 50%;
            }

            .meta {
                margin-left: 12px;

                span {
                    display: block;

                    &:first-child {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                        color: $dark-text;
                        font-size: .9rem;
                    }

                    &:nth-child(2) {
                        font-size: .85rem;
                        color: $muted-grey;
                    }
                }
            }
        }

        .question-text {
            p {
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                color: lighten($dark-text, 25%);
                font-size: .95rem;
                max-width: 680px;
            }

            .tags {
                padding-top: 10px;

                .tag {
                    border-radius: 100px;
                    line-height: 1;
                }
            }
        }

        .question-footer {
            padding: 20px 0 0 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 700px;

            .likes, .report {
                display: flex;
                align-items: center;

                .like-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 32px;
                    width: 32px;
                    background: $red;
                    border-radius: 50%;

                    svg {
                        height: 16px;
                        width: 16px;
                        stroke: $white;
                        fill: $white;
                    }
                }

                .report-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 32px;
                    width: 32px;
                    background: lighten($fade-grey, 5%);
                    border-radius: 50%;

                    svg {
                        height: 16px;
                        width: 16px;
                        stroke: $muted-grey;
                    }
                }

                span {
                    display: block;
                    font-weight: 500;
                    margin-left: 10px;
                    font-size: .9rem;
                }
            }
        }

        .answers-count {
            padding: 20px 4px;

            span {
                font-family: 'Montserrat', sans-serif;
                font-weight: 600;
                color: $dark-text;
                font-size: .9rem;
            }
        }
    }

    .answer-block {
        padding: 10px 0;
        border-bottom: 1px solid darken($fade-grey, 2%);

        &.is-best {
            .answer-author {
                .avatar-wrap {
                    border: 1.4px solid $green;

                    .badge {
                        display: flex;
                    }
                }
            }

            .answer-footer {
                .upvote {
                    .upvote-icon {
                        background: $green;
                    }
                }
            }
        }

        .answer-author {
            display: flex;
            align-items: center;
            padding: 20px 0;

            .avatar-wrap {
                position: relative;
                height: 48px;
                width: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border: 1.4px solid $muted-grey;

                .avatar {
                    display: block;
                    height: 38px;
                    width: 38px;
                    min-width: 38px;
                    border-radius: 50%;
                }

                .badge {
                    position: absolute;
                    top: -4px;
                    right: -7px;
                    height: 22px;
                    width: 22px;
                    border-radius: 50%;
                    border: 2px solid $white-smoke;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    background: $green;

                    svg {
                        height: 12px;
                        width: 12px;
                        stroke: $white-smoke;
                        stroke-width: 3px;
                    }
                }
            }

            .meta {
                margin-left: 12px;

                span {
                    display: block;

                    &:first-child {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                        color: $dark-text;
                        font-size: .9rem;

                        .best-tag {
                            margin-left: 10px;
                            padding: 4px 12px;
                            border-radius: 100px;
                            background: lighten($green, 36%);
                            font-weight: 400;
                            font-size: .75rem;
                            color: $green;
                            font-family: 'Roboto', sans-serif;
                        }
                    }

                    &:nth-child(2) {
                        font-size: .85rem;
                        color: $muted-grey;
                    }
                }
            }
        }

        .answer-text {
            p {
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                color: lighten($dark-text, 25%);
                font-size: .95rem;
                max-width: 680px;
                margin-bottom: 20px;

                &.code {
                    padding: 30px;
                    border-radius: 8px;
                    background: lighten($dark-text, 70%);
                    font-size: .88rem;
                    color: lighten($dark-text, 16%);
                }

                a {
                    display: block;
                    word-break: break-all;
                    color: $blue;
                    text-decoration: underline;
                }
            }
        }

        .answer-footer {
            padding: 30px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 700px;

            .upvote, .report {
                display: flex;
                align-items: center;

                .upvote-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 32px;
                    width: 32px;
                    background: lighten($fade-grey, 1%);
                    border-radius: 50%;

                    svg {
                        height: 16px;
                        width: 16px;
                        stroke: $white;
                        stroke-width: 4px;
                    }
                }

                .report-icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 32px;
                    width: 32px;
                    background: lighten($fade-grey, 5%);
                    border-radius: 50%;

                    svg {
                        height: 16px;
                        width: 16px;
                        stroke: $muted-grey;
                    }
                }

                span {
                    display: block;
                    font-weight: 500;
                    margin-left: 10px;
                    font-size: .9rem;
                }
            }
        }
    }

    .more-answers {
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 680px;

        a {
            text-transform: uppercase;
            font-size: .75rem;
            color: $muted-grey;
            padding: 6px 20px;
            background: lighten($fade-grey, 4%);
            border-radius: 100px;
            padding: 12px 20px;
            min-width: 188px;
            text-align: center;
            transition: all .3s;

            &:hover {
                background: $primary;
                color: $white;
                box-shadow: $primary-box-shadow;
            }

            &.is-loading {
                width: 42px;
            }
        }
    }
}

/* ==========================================================================
3. Other questions
========================================================================== */

.other-questions {
    .other-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: lighten($dark-text, 16%);
        font-size: 1.2rem;
    }

    .other-question {
        display: flex;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid darken($fade-grey, 3%);

        .avatar-wrap {
            position: relative;
            height: 58px;
            width: 58px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            border: 1.4px solid $muted-grey;

            .avatar {
                display: block;
                height: 48px;
                width: 48px;
                min-width: 48px;
                border-radius: 50%;
            }

            .badge {
                position: absolute;
                top: -4px;
                right: -7px;
                height: 22px;
                width: 22px;
                border-radius: 50%;
                border: 2px solid $white-smoke;
                display: none;
                justify-content: center;
                align-items: center;
                background: $green;

                svg {
                    height: 12px;
                    width: 12px;
                    stroke: $white-smoke;
                    stroke-width: 3px;
                }
            }
        }

        .meta {
            margin-left: 12px;

            span, a {
                display: block;

                &:first-child {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    color: lighten($dark-text, 16%);
                    font-size: 1rem;
                }

                &:nth-child(2) {
                    font-size: .9rem;
                    color: $muted-grey;
                }
            }

            a {
                transition: color .3s;

                &:hover {
                    color: $accent;
                }
            }
        }
    }
}

/* ==========================================================================
4. Questions navigation bar
========================================================================== */

.questions-nav {
    position: fixed;
    top: 58px;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid darken($fade-grey, 4%);
    background: $white;
    z-index: 18;
    transform: translateY(-100%);
    transition: all .3s;

    &.is-active {
        transform: translateY(0);
    }

    .inner {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &.is-scrollable {
            overflow-x: auto !important;
        }

        .question-summary {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            width: 100%;
            max-width: 640px;

            img {
                display: block;
                height: 32px;
                width: 32px;
                min-width: 32px;
                border-radius: 50%;
            }

            .meta {
                margin-left: 12px;

                h4 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    color: $dark-text;
                    font-size: 1rem;
                }

                span {
                    display: block;
                    font-size: .8rem;
                    color: $muted-grey;
                }
            }

            .dropdown {
                margin-left: auto;

                &:hover {
                    .button {
                        background: lighten($fade-grey, 3%);

                        svg {
                            stroke: $dark-text;
                        }
                    }
                }

                .button {
                    border: none;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    padding: 0;
                    transition: all .3s;

                    svg {
                        height: 20px;
                        width: 20px;
                        stroke: $muted-grey;
                        transition: stroke .3s;
                    }
                }

                .dropdown-menu {
                    margin-top: 14px;
                }
            }
        }

        .questions-nav-menu {
            display: flex;
            align-items: center;
            justify-content: center;

            .menu-item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 6px 20px 6px 16px;
                border-radius: 100px;
                transition: all .3s;

                &:hover {
                    svg {
                        stroke: $accent;
                    }

                    span {
                        color: $accent;
                    }
                }

                &.is-active {
                    background: lighten($accent, 46%);

                    svg {
                        stroke: $accent;
                    }

                    span {
                        color: $accent;
                    }
                }

                svg {
                    height: 16px;
                    width: 16px;
                    stroke: $placeholder;
                    transition: stroke .3s;
                }

                span {
                    color: lighten($dark-text, 15%);
                    font-size: .9rem;
                    margin-left: 3px;
                    transition: color .3s;
                }
            }
        }
    }
}

/* ==========================================================================
5. Questions Categories header
========================================================================== */

.categories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid darken($fade-grey, 4%);
    margin-bottom: 20px;

    h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: $dark-text;
        font-size: 1.6rem;
    }

    .control {
        position: relative;

        input {
            padding-bottom: 8px;
            padding-left: 36px;

            &:focus {
                border-color: lighten($fade-grey, 2%);

                + .search-icon {
                    svg {
                        stroke: $accent;
                    }
                }
            }
        }

        .search-icon {
            position: absolute;
            top: 0;
            left: 0;
            height: 36px;
            width: 36px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                height: 20px;
                width: 20px;
                stroke: $placeholder;
                transition: stroke .3s;
            }
        }
    }
}

/* ==========================================================================
6. Questions Category box
========================================================================== */

.category-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid darken($fade-grey, 4%);
    border-radius: 8px;
    transition: all .3s;

    &.is-row {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        img {
            margin: 0;
            min-height: 160px;
            max-height: 160px;
        }

        .box-content {
            padding-left: 40px;
        }
    }

    &.is-taller {
        img {
            margin: 0;
            min-height: 140px;
            max-height: 140px;
        }
    }

    &:hover {
        box-shadow: $light-box-shadow;

        &.is-primary {
            border-color: $primary;

            img {
                filter: grayscale(0);
                opacity: 1;
            }

            .box-content {
                h3 {
                    color: $primary;
                }
            }
        }

        &.is-accent {
            border-color: $accent;

            img {
                filter: grayscale(0);
                opacity: 1;
            }

            .box-content {
                h3 {
                    color: $accent;
                }
            }
        }

        &.is-green {
            border-color: $green;

            img {
                filter: grayscale(0);
                opacity: 1;
            }

            .box-content {
                h3 {
                    color: $green;
                }
            }
        }

        &.is-blue {
            border-color: $blue;

            img {
                filter: grayscale(0);
                opacity: 1;
            }

            .box-content {
                h3 {
                    color: $blue;
                }
            }
        }

        &.is-red {
            border-color: $red;

            img {
                filter: grayscale(0);
                opacity: 1;
            }

            .box-content {
                h3 {
                    color: $red;
                }
            }
        }
    }

    img {
        display: block;
        margin: 0 auto;
        min-height: 110px;
        max-height: 110px;
        margin-bottom: 30px;
        filter: grayscale(1);
        opacity: .6;
        transition: all .3s;
    }

    .box-content {
        h3 {
            font-family: 'Montserrat', sans-serif;
            color: $dark-text;
            margin-bottom: 6px;
            transition: color .3s;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-size: .9rem;
            color: $muted-grey;
        }
    }
}

/* ==========================================================================
7. Questions Statistics
========================================================================== */

.stats-wrapper {
    .stats-header {
        display: flex;
        align-items: center;
        background: $white;
        width: 100%;
        padding: 30px;
        border-radius: 8px;
        border: 1px solid darken($fade-grey, 3%);
        margin-bottom: 10px;

        .avatar-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 96px;
            width: 96px;
            min-width: 96px;
            border-radius: 50%;
            border: 2px solid $placeholder;

            .avatar {
                display: block;
                height: 80px;
                width: 80px;
                border-radius: 50%;
            }

            .badge {
                position: absolute;
                top: 1px;
                right: -1px;
                height: 28px;
                width: 28px;
                border-radius: 50%;
                border: 3px solid $white;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $green;

                svg {
                    height: 13px;
                    width: 13px;
                    stroke: $white;
                    stroke-width: 4px;
                }
            }
        }

        .user-info {
            margin-left: 20px;

            h4 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                color: $dark-text;
                font-size: 1.1rem;
            }

            p {
                color: $muted-grey;
                font-size: .85rem;
                font-family: 'Roboto', sans-serif;
            }

            .button {
                margin-top: 10px;
                height: 36px;
                min-width: 110px;
                border-radius: 100px;
                padding: 0;
                transition: all .3s;

                &.is-follow {
                    border: 1.6px solid $accent;
                    color: $accent;

                    &:hover {
                        background: $accent;
                        color: $white-smoke;
                        box-shadow: $accent-box-shadow;
                    }
                }
            }
        }

        .main-stats {
            margin-left: auto;
            display: flex;

            .stat-block {
                padding: 0 16px;
                text-align: center;

                &.is-centered {
                    border-left: 1px solid darken($fade-grey, 4%);
                    border-right: 1px solid darken($fade-grey, 4%);
                }

                h4 {
                    text-transform: uppercase;
                    font-size: .7rem;
                    color: $dark-text;
                    font-weight: 500;
                }

                p {
                    font-weight: bolder;
                    font-size: 1.4rem;
                    color: lighten($dark-text, 25%);
                }
            }
        }
    }

    .achievements {
        .header {
            display: flex;
            align-items: center;
            padding: 10px;

            h3 {
                font-family: 'Montserrat', sans-serif;
                color: lighten($dark-text, 15%);
                font-size: .9rem;
                font-weight: 600;
                transition: color .3s;
            }
        }

        .achievements-carousel-wrap {
            position: relative;
            overflow: hidden;
            margin-top: -6px;

            .achievements-loader {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                background: $white;
                opacity: 0;
                transition: all .3s;
                z-index: -1;

                &.is-active {
                    opacity: 1;
                    z-index: 1;
                }

                .loader {
                    height: 2rem;
                    width: 2rem;
                }
            }
        }

        .achievements-carousel {
            max-height: 250px;

            .achievement {
                padding: 30px;
                border: 1px solid darken($fade-grey, 4%);
                background: $white;
                border-radius: 8px;
                margin: 6px;
                outline: none !important;
                cursor: grab;
                transition: all .3s;

                &:hover {
                    box-shadow: $light-box-shadow;
                    border-color: $accent;
                }

                img {
                    display: block;

                    //width: 60px;
                    height: 90px;
                    margin: 0 auto;
                }

                h3 {
                    margin-top: 20px;
                    font-family: 'Montserrat', sans-serif;
                    color: lighten($dark-text, 15%);
                    font-size: .85rem;
                    font-weight: 500;
                }

                p {
                    color: $muted-grey;
                    font-size: .8rem;
                    min-height: 39px;
                }
            }
        }
    }

    .quick-activity {
        .header {
            display: flex;
            align-items: center;
            padding: 10px;
            border-bottom: 1px solid $fade-grey;

            h3 {
                font-family: 'Montserrat', sans-serif;
                color: lighten($dark-text, 15%);
                font-size: .9rem;
                font-weight: 600;
                transition: color .3s;
            }
        }

        .activity-list {
            padding: 10px;

            .activity-item {
                display: flex;
                border-bottom: 1px solid $fade-grey;
                padding: 16px;

                //align-items: center;

                &.is-best {
                    .avatar-wrap {
                        border: 1.4px solid $green;

                        .badge {
                            display: flex;
                        }
                    }
                }

                .avatar-wrap {
                    position: relative;
                    height: 48px;
                    width: 48px;
                    min-width: 48px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    border: 1.4px solid $placeholder;

                    .avatar {
                        display: block;
                        height: 38px;
                        width: 38px;
                        min-width: 38px;
                        border-radius: 50%;
                    }

                    .badge {
                        position: absolute;
                        top: -4px;
                        right: -7px;
                        height: 22px;
                        width: 22px;
                        border-radius: 50%;
                        border: 2px solid $white-smoke;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        background: $green;

                        svg {
                            height: 12px;
                            width: 12px;
                            stroke: $white-smoke;
                            stroke-width: 3px;
                        }
                    }
                }

                .meta {
                    margin-left: 16px;

                    span {
                        display: block;

                        &:first-child {
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 600;
                            color: $dark-text;
                            font-size: .9rem;

                            .best-tag {
                                margin-left: 10px;
                                padding: 4px 12px;
                                border-radius: 100px;
                                background: lighten($green, 36%);
                                font-weight: 400;
                                font-size: .75rem;
                                color: $green;
                                font-family: 'Roboto', sans-serif;
                            }
                        }

                        &:nth-child(2) {
                            font-size: .9rem;
                            font-family: 'Roboto', sans-serif;
                            color: $muted-grey;
                            max-width: 450px;

                            a {
                                color: lighten($dark-text, 15%);
                                transition: color .3s;

                                &:hover {
                                    color: $accent;
                                }
                            }
                        }
                    }

                    small {
                        margin-top: 6px;
                        font-size: .75rem;
                        color: $muted-grey;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
8. Questions Settings
========================================================================== */

.questions-settings {
    .settings-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid darken($fade-grey, 4%);
        margin-bottom: 30px;

        h2 {
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            color: $dark-text;
            font-size: 1.6rem;
        }

        .control {
            position: relative;

            input {
                padding-bottom: 8px;
                padding-left: 36px;

                &:focus {
                    border-color: lighten($fade-grey, 2%);

                    + .search-icon {
                        svg {
                            stroke: $accent;
                        }
                    }
                }
            }

            .search-icon {
                position: absolute;
                top: 0;
                left: 0;
                height: 36px;
                width: 36px;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {
                    height: 20px;
                    width: 20px;
                    stroke: $placeholder;
                    transition: stroke .3s;
                }
            }
        }
    }

    .settings-body {
        .switch-block {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            .meta {
                margin-left: 16px;

                span {
                    display: block;

                    &:first-child {
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 600;
                        color: $dark-text;
                        font-size: .9rem;
                    }

                    &:nth-child(2) {
                        font-size: .85rem;
                        color: $muted-grey;
                    }
                }
            }
        }
    }
}

.questions-side-card {
    width: 100%;
    background: $white;
    padding: 30px;
    border: 1px solid darken($fade-grey, 4%);
    border-radius: 8px;
    margin-bottom: 20px;

    img {
        display: block;
        max-width: 80px;
        margin: 0 auto 20px auto;
    }

    h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        color: $dark-text;
        font-size: .9rem;
    }

    p {
        font-size: .9rem;
        color: $muted-grey;
    }
}

/* ==========================================================================
9. Media Queries
========================================================================== */

//Mobile
@media (max-width: 767px) {
    .questions-nav {
        .question-summary {
            max-width: 340px !important;

            .meta {
                h4 {
                    font-size: .85rem !important;
                }

                span {
                    display: none !important;
                }
            }
        }

        .questions-nav-menu {
            .menu-item {
                padding: 6px 16px !important;

                svg {
                    height: 18px !important;
                    width: 18px !important;
                }

                span {
                    display: none !important;
                }
            }
        }
    }

    .questions-wrap {
        margin: 26px 0;
        padding: 0 10px;

        .column.is-4, .column.is-3 {
            display: none;
        }
    }

    .categories-header, .settings-header {
        h2 {
            font-size: 1.3rem !important;
        }

        .control {
            max-width: 200px;
        }
    }

    .category-box {
        &.is-row {
            flex-direction: column !important;

            img {
                min-height: 110px !important;
                max-height: 110px !important;
            }

            .box-content {
                padding-left: 0 !important;
                padding-top: 20px;
            }
        }

        &.is-taller {
            img {
                min-height: 110px !important;
                max-height: 110px !important;
            }

            .box-content {
                padding-left: 0 !important;
                padding-top: 20px;
            }
        }
    }
}

//Tablet Portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .questions-nav {
        .question-summary {
            margin: 0 auto;
            width: 100%;
            max-width: 640px;
        }
    }

    .questions-wrap {
        margin: 30px  0;
        padding: 0 60px;

        .column.is-4, .column.is-3 {
            display: none;
        }
    }

    .category-box {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: flex-start !important;

        img {
            margin: 0 !important;
            min-height: none !important;
            max-height: none !important;
            max-width: 120px !important;
            min-width: 120px !important;
        }

        .box-content {
            padding-left: 40px !important;
        }
    }
}

//Tablet landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .questions-nav {
        .question-summary {
            margin: 0 auto;
            width: 100%;
            max-width: 640px;
        }
    }

    .categories-tile-grid {
        .tile {
            &.is-parent {
                padding: .5rem !important;
            }
        }
    }

    .category-box {
        .box-content {
            p {
                font-size: .8rem !important;
            }
        }
    }

    .questions-menu-fixed {
        max-width: 190px !important;
    }

    .questions-side-card {
        padding: 20px;

        img {
            max-width: 60px;
        }

        p {
            font-size: .8rem;
        }
    }
}

//Large screens
@media (max-width: 1300px) {
    .stats-wrapper {
        .stats-header {
            flex-direction: column;

            .user-info {
                margin: 0;
            }

            .main-stats {
                margin: 0 auto;
                margin-top: 20px;
            }
        }
    }
}

#questions-shadow-dom-home {
    max-width: 640px;
    margin: 0 auto;
}
