/*! _app-events.scss | Friendkit | © Css Ninja. 2018-2019 */

/* ==========================================================================
Events Page
========================================================================== */

/*
    1. Event page layout
    2. Media Queries
*/

/* ==========================================================================
1. Event page layout
========================================================================== */

//Wrapper
.events-wrapper {
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    height: calc(100vh - 58px);
    background: $white;

    //Events Sidebar
    .left-panel {
        position: fixed;
        top: 58px;
        left: 0;
        width: 260px;
        height: calc(100vh - 58px);
        background: $white;
        border-right: 1px solid darken($fade-grey, 3%);

        .left-panel-inner {
            position: relative;
            height: 100%;
            width: 100%;
            padding-bottom: 60px;

            a {
                display: flex;
                align-items: center;
                padding: 20px;
                border-bottom: 1px solid darken($fade-grey, 4%);
                transition: all .3s;

                &.is-active {
                    background: lighten($fade-grey, 4%);

                    span {
                        &.tag {
                            background: $accent !important;
                            color: $white !important;
                        }

                        &.date-block svg {
                            stroke: $accent;
                        }
                    }
                }

                span {
                    display: block;

                    &.date-block {
                        display: flex;
                        align-items: center;

                        svg {
                            position: relative;
                            top: -1px;
                            height: 18px;
                            width: 18px;
                            margin-right: 6px;
                            stroke: $placeholder;
                            transition: stroke .3s;
                        }

                        .month {
                            font-family: Montserrat, sans-serif;
                            font-weight: 500;
                            color: $dark-text;
                            font-size: .85rem;
                            line-height: 1;
                            width: 75px;
                        }
                    }

                    &.meta-block {
                        margin-left: auto;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .time {
                            font-size: .8rem;
                            color: $muted-grey;
                            line-height: 1;
                        }

                        .type {
                            display: inline-block;

                            .tag {
                                display: inline-block;
                                border-radius: 100px;
                                line-height: 2;
                                transition: all .3s;
                                background: lighten($fade-grey, 4%);
                                color: $dark-text;
                            }
                        }
                    }
                }
            }

            .add-event {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 60px;
                display: flex;
                align-items: center;
                padding: 0 20px;
                background: $white;
                transition: opacity .3s;

                .button {
                    height: 42px;
                    width: 100%;
                    border: 2px dashed $placeholder;
                    color: $muted-grey;

                    &:hover {
                        border: 2px solid $primary;
                        background: $primary;
                        color: $white-light;
                        box-shadow: $primary-box-shadow;
                    }
                }
            }
        }
    }

    //Activity Panel
    .right-panel {
        position: fixed;
        top: 58px;
        right: 0;
        width: 380px;
        height: calc(100vh - 58px);
        background: $white;
        border-left: 1px solid darken($fade-grey, 3%);

        .panel-header {
            display: flex;
            align-items: center;
            height: 60px;
            width: 100%;
            padding: 0 30px;

            h3 {
                font-size: 1rem;
                font-family: Montserrat, sans-serif;
                font-weight: 600;
            }
        }

        .panel-body {
            position: relative;
            height: calc(100% - 60px);
            overflow-y: auto;
            padding: 0 20px 20px 20px;

            .activity-block {
                display: flex;
                align-items: flex-start;
                padding: 10px 0;

                img {
                    display: block;
                    height: 32px;
                    width: 32px;
                    min-width: 32px;
                    border-radius: 50%;
                }

                .activity-meta {
                    margin-left: 10px;

                    p {
                        font-size: .85rem;
                        color: $dark-text;

                        a {
                            font-weight: 500;
                            color: $dark-text;
                            transition: color .3s;

                            &:hover {
                                color: $accent;
                            }
                        }
                    }

                    span {
                        display: block;
                        font-size: .85rem;
                        color: $muted-grey;
                    }
                }
            }
        }
    }

    //Event List
    .wrapper-inner {
        position: relative;
        width: calc(100% - 640px);
        height: 100%;
        margin-left: 260px;
        margin-right: 380px;

        //List wrapper
        .event-list {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            transition: all .3s;

            //Single Event
            .event-item {
                position: relative;

                //height: 100%;
                width: 100%;
                padding: 40px;
                background: $white;
                border-bottom: 1px solid $fade-grey;
                display: flex;

                .event-inner-wrap {
                    position: relative;

                    .event-options {
                        position: absolute;
                        top: 5px;
                        right: 0;

                        &:hover {
                            .button svg {
                                animation: rotation 2s infinite linear;
                            }
                        }

                        .button {
                            background: transparent;
                            border: none;
                            padding: 0;
                            height: 28px;
                            width: 28px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            svg {
                                color: $medium-text;
                            }
                        }
                    }
                }

                //Title
                .event-title {
                    font-size: 2rem;
                    font-family: Montserrat, sans-serif;
                    font-weight: 800;
                    color: $dark-text;
                    line-height: 1.1;
                    max-width: 520px;
                }

                //Subtitle
                .event-subtitle {
                    display: flex;
                    margin: 40px 0 10px 0;

                    svg {
                        height: 20px;
                        width: 20px;
                        margin-right: 6px;
                    }

                    h3 {
                        color: $muted-grey;
                    }
                }

                //Content
                .event-content {
                    display: flex;
                    align-items: flex-start;

                    .event-owner {
                        display: flex;
                        align-items: center;
                        min-width: 80px;

                        img {
                            display: block;
                            height: 44px;
                            width: 44px;
                            min-width: 44px;
                            border-radius: 50%;
                            margin: 0 auto;
                        }

                        .owner-meta {
                            margin-left: 12px;

                            span {
                                display: block;

                                &:first-child {
                                    font-family: Montserrat, sans-serif;
                                    font-weight: 600;
                                    font-size: .9rem;
                                    color: $dark-text;
                                }

                                &:nth-child(2) {
                                    font-size: .9rem;
                                    color: $muted-grey;
                                }
                            }
                        }
                    }

                    .event-description {
                        p {
                            color: $medium-text;
                            margin-bottom: 10px;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                //Participants
                .event-participants {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;

                    .participants-group {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        img {
                            height: 38px;
                            width: 38px;
                            border-radius: 50%;
                            border: 3px solid $white;

                            &:not(:first-child) {
                                margin-left: -12px;
                            }
                        }
                    }

                    .participants-text {
                        margin-left: 10px;

                        p {
                            font-size: .8rem;
                            color: $grey-text;

                            a {
                                color: $dark-text;

                                &:hover {
                                    color: $accent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
2. Media Queries
========================================================================== */

//Large Screens
@media only screen and (max-width: 1300px) {
    .events-wrapper {
        .right-panel {
            width: 310px !important;
        }

        .wrapper-inner {
            width: calc(100% - 570px) !important;
            margin-right: 310px !important;

            .event-list {
                .event-item {
                    padding: 40px;
                }
            }
        }
    }
}

//Medium Screens
@media only screen and (max-width: 1200px) {
    .events-wrapper {
        .right-panel {
            display: none !important;
        }

        .wrapper-inner {
            width: calc(100% - 260px) !important;
            margin-right: 0 !important;

            .event-list {
                .event-item {
                    padding: 40px 60px;
                }
            }
        }
    }
}

//Tablet Portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .events-wrapper {
        .right-panel, .left-panel {
            display: none !important;
        }

        .wrapper-inner {
            width: calc(100%) !important;
            margin-right: 0 !important;
            margin-left: 0 !important;

            .event-list {
                .event-item {
                    padding: 40px 60px;
                    height: auto;

                    .event-title {
                        font-size: 2rem !important;
                    }
                }
            }
        }
    }
}

//Mobile
@media (max-width: 767px) {
    .events-wrapper {
        .right-panel, .left-panel {
            display: none !important;
        }

        .wrapper-inner {
            width: calc(100%) !important;
            margin-right: 0 !important;
            margin-left: 0 !important;

            .event-list {
                .event-item {
                    padding: 40px 30px;
                    height: auto;

                    .event-title {
                        font-size: 1.6rem !important;
                        max-width: 280px;
                    }

                    .event-inner-wrap {
                        .event-content {
                            .event-owner {
                                display: none;
                            }
                        }

                        .event-options {
                            top: 0px;
                            right: 0px;
                        }

                        .event-participants {
                            margin-left: 0 !important;
                        }
                    }
                }
            }
        }
    }
}
