/*! _forms.scss | Friendkit | © Css Ninja. 2018-2019 */

/* ==========================================================================
Form controls styles
========================================================================== */

/*
    0. Input and textarea shared styles
    1. Input styles
    2. Textarea styles
    3. Control wrappers
    4. Combo Box
    5. Custom select
*/

/* ==========================================================================
1. Input and textarea shared styles
========================================================================== */

.input, .textarea {
    box-shadow: none !important;

    &.is-reset {}

    &.is-light {
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $placeholder;
        }

        &::-moz-placeholder { /* Firefox 19+ */
            color: $placeholder;
        }

        &:-ms-input-placeholder { /* IE 10+ */
            color: $placeholder;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: $placeholder;
        }
    }

    &.is-dark {
        color: lighten($sidebar, 40%) !important;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: lighten($sidebar, 25%) !important;
        }

        &::-moz-placeholder { /* Firefox 19+ */
            color: lighten($sidebar, 25%) !important;
        }

        &:-ms-input-placeholder { /* IE 10+ */
            color: lighten($sidebar, 25%) !important;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: lighten($sidebar, 25%) !important;
        }
    }
}

/* ==========================================================================
1. Input styles
========================================================================== */

.input {
    transition: all .3s;

    &:focus {
        border-color: $accent;
    }

    &.is-sm {
        height: 32px;
        font-size: .9rem;
    }

    &.no-radius {
        border-radius: 1px;
    }

    &.is-fade {
        &:focus {
            border: 1px solid lighten($fade-grey, 2%);
        }
    }

    &.is-bordered {
        &:focus {
            border-color: $medium-text;
        }
    }
}

/* ==========================================================================
2. Textarea styles
========================================================================== */

.textarea {
    &.is-sm {
        font-size: .9rem;
        resize: none;
    }

    &.no-radius {
        border-radius: 1px;
    }

    &.is-fade {
        &:focus {
            border: 1px solid lighten($fade-grey, 2%);
        }
    }
}

/* ==========================================================================
3. Control wrappers
========================================================================== */

.field {
    label {
        font-size: .9rem;
        font-weight: 500;
        color: $dark-text;
    }
}

.control {
    //Icon modifier
    &.has-icon {
        position: relative;

        .form-icon {
            position: absolute;
            top: 0;
            left: 0;
            height: 36px;
            width: 36px;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                height: 20px;
                width: 20px;
                stroke: $placeholder;
                transition: all .3s;
            }
        }

        .input {
            padding-left: 40px;

            &:focus {
                + .form-icon svg {
                    stroke: $accent;
                }
            }
        }
    }

    //Validation
    &.has-validation {
        position: relative;

        .error-icon {
            position: absolute;
            top: 0;
            right: 0;
            height: 36px;
            width: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity .3s;

            svg {
                height: 16px;
                width: 16px;
                stroke: $red;
            }
        }

        .success-icon {
            position: absolute;
            top: 0;
            right: 0;
            height: 36px;
            width: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: opacity .3s;

            svg {
                height: 16px;
                width: 16px;
                stroke: $green;
            }
        }

        &.has-error {
            input {
                border-color: $red;

                + label {
                    font-size: .75rem;
                    color: $red;
                }
            }

            .error-icon {
                opacity: 1;
            }

            .success-icon {
                opacity: 0;
            }
        }

        &.has-success {
            input {
                border-color: $green;
            }

            .error-icon {
                opacity: 0;
            }

            .success-icon {
                opacity: 1;
            }
        }
    }
}

/* ==========================================================================
4. Combo Box
========================================================================== */

//Wrapper
.is-combo {
    //Label
    .combo-label {
        font-weight: 500;
        font-size: .9rem;
        color: $muted-grey;
    }

    //Combo box types
    .combo-box, .image-combo-box, .stacked-combo-box, .user-combo-box {
        position: relative;
        background: $white;
        border: 1px solid $accent-grey;
        border-radius: 4px;
        height: 40px;
        margin-top: 4px;
        cursor: pointer;
        transition: all .3s;

        &.has-rounded-images {
            .combo-item img, .item-icon img {
                border-radius: 50%;
            }
        }

        &.is-scrollable {
            .box-dropdown .dropdown-inner {
                max-height: 190px;
                overflow-y: auto;
            }
        }

        //Combo box inner
        .box-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;

            //Selected item
            .combo-item {
                display: flex;
                align-items: center;
                height: 40px;
                padding-left: 8px;

                //icon
                i {
                    color: $muted-grey;
                    font-size: 20px;
                    margin-right: 8px;
                }

                .fa {
                    font-size: 14px;

                    &.is-green {
                        color: $green;
                    }

                    &.is-blue {
                        color: $blue;
                    }

                    &.is-orange {
                        color: $orange;
                    }

                    &.is-red {
                        color: $red;
                    }
                }

                //image
                img {
                    display: block;
                    height: 22px;
                    width: 22px;

                    //border-radius: 50%;
                    object-fit: contain;
                    margin-right: 8px;

                    //Modifier for stacked mode
                    &.is-stacked {
                        height: 26px;
                        width: 26px;
                        border: 2px solid $white;
                        margin-right: 0 !important;

                        &:not(:first-child) {
                            $var: 9;

                            @for $i from 1 through 5 {
                                &:nth-child(#{$i}) {
                                    margin-left: -#{$var}px;
                                }
                            }
                        }
                    }
                }

                .avatar-container {
                    position: relative;
                    display: block;
                    height: 26px;
                    width: 26px;

                    .avatar {
                        display: block;
                        height: 26px;
                        width: 26px;
                        border-radius: 50%;
                    }

                    .badge {
                        position: absolute;
                        bottom: 0;
                        right: -6px;
                        height: 16px;
                        width: 16px;
                        border-radius: 50%;
                        border: 2px solid $white;
                        margin: 0;
                    }
                }

                //Text
                span {
                    display: block;
                    color: $dark-text;
                    font-size: .9rem;
                    font-weight: 500;
                    margin-left: 8px;

                    &.is-pushed {
                        margin-left: 18px;
                    }
                }
            }
        }

        //Box caret
        .box-chevron {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 40px;

            svg {
                height: 18px;
                width: 18px;
                stroke: $dark-text;
                transform: rotate(0);
                transition: all .3s;
            }
        }

        //Combo dropdown
        .box-dropdown {
            position: absolute;
            top: 32px;
            left: 0;
            width: 100%;
            z-index: 50;
            opacity: 0;
            transform: translateY(20px);
            pointer-events: none;
            transition: all .3s;

            //Modifier
            &.is-dropup {
                top: -165px;
                height: 148px;

                .dropdown-inner {
                    overflow-y: auto;
                }
            }

            //Dropdown inner
            .dropdown-inner {
                position: relative;
                width: 100%;
                height: 100%;
                background: $white;
                border: 1px solid $accent-grey;
                border-radius: 4px;
                margin-top: 10px;
                max-height: 190px;
                overflow-y: auto;

                //List
                ul {
                    padding: 10px 0;

                    //List item
                    li {
                        padding: 6px 8px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;

                        //Icon
                        .item-icon {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 30px;
                            width: 30px;
                            margin-right: 8px;

                            i {
                                color: $muted-grey;
                                font-size: 20px;
                            }

                            .fa {
                                font-size: 16px;
                                position: relative;
                                top: 5px;

                                &.is-green {
                                    color: $green;
                                }

                                &.is-blue {
                                    color: $blue;
                                }

                                &.is-orange {
                                    color: $orange;
                                }

                                &.is-red {
                                    color: $red;
                                }
                            }

                            //Image
                            img {
                                display: block;
                                height: 22px;
                                width: 22px;

                                // border-radius: 50%;
                                object-fit: contain;
                                transition: opacity .3s;

                                &.faded-img {
                                    opacity: .4;
                                }
                            }

                            .avatar {
                                display: block;
                                height: 22px;
                                width: 22px;
                                border-radius: 50%;
                            }

                            .badge {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                height: 12px;
                                width: 12px;
                                border-radius: 50%;
                                border: 2px solid $white;
                            }
                        }

                        //Checkmark
                        .checkmark {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 16px;
                            width: 16px;
                            margin-right: 8px;
                            margin-left: auto;
                            opacity: 0;
                            transition: all .3s;

                            svg {
                                stroke: $accent;
                                stroke-width: 3px;
                                height: 16px;
                                width: 16px;
                            }
                        }

                        span {
                            display: block;
                            color: $muted-grey;
                            font-size: .9rem;
                            font-weight: 500;
                        }

                        &:hover {
                            background: lighten($fade-grey, 2%);
                        }

                        //Active state
                        &.is-active {
                            .item-icon {
                                i {
                                    color: $dark-text;
                                }

                                .faded-img {
                                    opacity: 1;
                                }
                            }

                            span {
                                color: $dark-text;
                            }

                            .checkmark {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        //Combo box active state
        &.is-active {
            border-color: $fade-grey;

            .box-chevron svg {
                transform: rotate(180deg);
            }

            .box-dropdown {
                opacity: 1;
                transform: translateY(0);
                pointer-events: all;
            }
        }
    }

    //Help text
    .help-text {
        font-size: .75rem;
        color: $muted-grey;
    }

    //Big combo box with description
    .big-combo-box {
        position: relative;
        background: $white;
        border: 1px solid $accent-grey;
        border-radius: 4px;
        height: 58px;
        margin-top: 4px;
        cursor: pointer;
        transition: all .3s;

        //Inner
        .box-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            //Selected item
            .combo-item {
                display: flex;
                align-items: center;
                height: 58px;
                padding-left: 8px;

                i {
                    color: $accent;
                    font-size: 1.6rem;
                }

                //Text
                .combo-text {
                    margin-left: 16px;

                    span {
                        display: block;

                        &:first-child {
                            color: $dark-text;
                            font-size: .9rem;
                            font-weight: 500;
                        }

                        &:nth-child(2) {
                            color: $muted-grey;
                            font-size: .8rem;
                            max-width: 330px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }

        //Caret
        .box-chevron {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 58px;
            width: 58px;

            svg {
                height: 18px;
                width: 18px;
                stroke: $dark-text;
                transform: rotate(0);
                transition: all .3s;
            }
        }

        //Combo box dropdown
        .box-dropdown {
            position: absolute;
            top: 54px;
            left: 0;
            width: 100%;
            z-index: 50;
            opacity: 0;
            transform: translateY(20px);
            pointer-events: none;
            transition: all .3s;

            //Dropdown inner
            .dropdown-inner {
                position: relative;
                width: 100%;
                height: 100%;
                background: $white;
                border: 1px solid $accent-grey;
                border-radius: 4px;
                margin-top: 10px;
                max-height: 190px;
                overflow-y: auto;
                overflow-x: hidden;

                //List
                ul {
                    padding: 10px 0;

                    //List item
                    li {
                        padding: 6px 8px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;

                        //Icon
                        .item-icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 30px;
                            width: 30px;
                            min-height: 30px;
                            min-width: 30px;
                            margin-right: 16px;

                            i {
                                color: $muted-grey;
                                font-size: 1.6rem;
                            }
                        }

                        //Content
                        .item-name {
                            span {
                                display: block;

                                &:first-child {
                                    color: $dark-text;
                                    font-size: .9rem;
                                    font-weight: 500;
                                }

                                &:nth-child(2) {
                                    color: $muted-grey;
                                    font-size: .8rem;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }
                        }

                        &:hover {
                            background: lighten($fade-grey, 2%);
                        }

                        //Active state
                        &.is-active {
                            .item-icon i {
                                color: $accent;
                            }

                            span {
                                color: $dark-text;
                            }
                        }
                    }
                }
            }
        }

        //Big combo box active state
        &.is-active {
            border-color: $fade-grey;

            .box-chevron svg {
                transform: rotate(180deg);
            }

            .box-dropdown {
                opacity: 1;
                transform: translateY(0);
                pointer-events: all;
            }
        }
    }
}

/* ==========================================================================
5. Custom select
========================================================================== */

.custom-select {
    width: 100%;
    z-index: 3;

    &.is-dropup {
        .select-drop {
            top: -100%;
        }
    }

    //select box
    .select-box {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 40px 0 10px;
        height: 36px;
        width: 100%;
        border: 1px solid $accent-grey;
        border-radius: 4px;
        color: darken($accent-grey, 20%);
        background: $white;
        cursor: pointer;
        transition: all .3s;

        &:hover {
            border-color: $fade-grey;
        }
    }

    .select-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s;
        transform: rotate(0);

        svg {
            height: 20px;
            width: 20px;
            stroke: darken($placeholder, 8%) !important;
            transition: all .3s;
        }
    }

    //Select dropdown
    .select-drop {
        position: absolute;
        top: 40px;
        left: 0;
        width: 100%;
        min-height: 135px;
        max-height: 138px;
        overflow-y: auto;
        background: $white;
        border: 1px solid $fade-grey;
        border-radius: 4px;
        z-index: 5;
        transition: all .3s;
        opacity: 0;
        transform: translateY(10px);
        pointer-events: none;

        //Inner
        .drop-inner {
            position: relative;
            height: 100%;
            width: 100%;
            background: $white;

            //Row
            .option-row {
                position: relative;
                display: flex;
                background: $white;

                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    cursor: pointer;

                    &:checked + .option-meta {
                        background: lighten($fade-grey, 4%);

                        span {
                            color: $dark-text;
                        }

                        svg {
                            &.is-purple {
                                stroke: $purple;
                            }
                        }
                    }
                }

                //Meta
                .option-meta {
                    padding: 12px;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    img {
                        display: block;
                        max-height: 20px;
                    }

                    svg {
                        height: 20px;
                        width: 20px;
                        stroke: $placeholder;

                        &.is-small {
                            height: 14px;
                            width: 14px;
                        }
                    }

                    span {
                        display: block;
                        font-weight: 500;
                        color: $muted-grey;
                        font-size: .9rem;
                        margin-left: 8px;
                    }
                }
            }
        }
    }

    //Active state
    &.is-active {
        .select-drop {
            opacity: 1;
            transform: translateY(0);
            pointer-events: all;
        }

        .select-icon {
            transform: rotate(180deg);
        }
    }

    //Modifier
    &.is-accounts {
        .option-meta {
            img {
                max-height: 36px !important;
                border-radius: 50%;
            }
        }
    }
}
