/*! _modals.scss | Friendkit | © Css Ninja. 2018-2019 */

/* ==========================================================================
Modal styles
========================================================================== */

/*
    1. Base class
    2. Create group modal
    3. Albums Help modal
    4. Albums modal
    5. Videos modal
    6. Change cover and profile picture modals
    7. User photos modal
    8. Crop profile picture modal
    9. End tour modal
    10. No stream modal
    11. Media Queries
*/

//import mixins

/* ==========================================================================
1. Base class
========================================================================== */

.modal {
    z-index: 1050;

    &.modal-background {
        transition: all .3s;
    }

    //Size modifiers
    &.is-xsmall {
        .modal-content {
            width: 480px;
        }
    }

    &.is-small {
        .modal-content {
            width: 540px;
        }
    }

    &.is-medium {
        .modal-content {
            width: 720px;
        }
    }

    &.is-large {
        .modal-content {
            width: 840px;
        }
    }

    &.is-xlarge {
        .modal-content {
            width: 1200px;
        }
    }

    &.is-xxl {
        .modal-content {
            width: 1340px;
        }
    }

    &.is-light-bg {
        .modal-background {
            background: rgba(0, 0, 0, 0.4);
        }
    }

    //Modal card
    .card {
        animation: modalScale .3s;

        //Header
        .card-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 12px;

            //title
            h3 {
                font-size: .95rem;
                font-weight: 500;
            }

            //Close button
            .close-wrap {
                height: 30px;
                width: 30px;

                .close-modal {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    background: transparent;
                    cursor: pointer;
                    transition: background .3s;

                    &:hover {
                        background: lighten($placeholder, 10%);
                    }

                    svg {
                        height: 18px;
                        width: 18px;
                        stroke: $medium-text;
                    }
                }
            }
        }

        //Body
        .card-body {
            padding: 8px 12px;
        }
    }
}

/* ==========================================================================
3. Albums help modal
========================================================================== */

.albums-help-modal, .videos-help-modal {
    //Modal card
    .card {
        overflow: hidden;
    }

    //Header
    .card-heading {
        border-bottom: 1px solid $fade-grey;
    }

    //Body
    .card-body {
        //Content element
        .content-block {
            position: absolute;
            height: 248px;
            width: 454px;
            opacity: 0;
            transition: all .3s;

            &:first-child {
                transform: translateX(-100%);
            }

            &:nth-child(2) {
                transform: translateX(100%);
            }

            img {
                display: block;
                height: 140px;
                margin: 20px auto;
            }

            .help-text {
                text-align: center;
                max-width: 350px;
                margin: 0 auto;

                h3 {
                    font-weight: 500;
                }

                p {
                    color: $muted-grey;
                    font-size: .9rem;
                }
            }

            &.is-active {
                transform: translateX(0);
                opacity: 1;
            }
        }

        //Slide indicators
        .slide-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 258px 0 16px 0;

            .dot {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: $fade-grey;
                margin: 0 3px;

                &.is-active {
                    background: $accent;
                }
            }
        }

        .action {
            text-align: center;
            margin-bottom: 16px;

            button {
                line-height: 0;
                width: 160px;
            }
        }
    }
}

/* ==========================================================================
4. Albums modal
========================================================================== */

.albums-modal {
    .modal-content {
        max-width: calc(100% - 40px);
    }

    //Header
    .card-heading {
        border-bottom: 1px solid $fade-grey;
        justify-content: flex-start !important;

        .button {
            line-height: 0 !important;
            padding: 14px 18px !important;
            margin-left: auto;
            margin-right: 10px;
            cursor: pointer;

            i {
                font-size: 18px;
            }
        }
    }

    //Body
    .card-body {
        padding: 0 !important;
        display: flex;

        //Left and right shared styles
        .left-section, .right-section {
            padding: 12px;
            height: 580px;
        }

        //Left side
        .left-section {
            width: 25%;
            background: $light-grey;
            border-right: 1px solid $fade-grey;

            //Form controls
            .control {
                margin-bottom: 10px;

                input {
                    padding-left: 34px;
                }

                .icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 32px;
                    width: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $placeholder;

                    svg {
                        width: 16px;
                        height: 16px;
                        transition: all .3s;
                    }
                }
            }

            .album-form {
                margin-bottom: 20px;
            }

            //Tags
            .tagged-in-album {
                margin: 0 0 10px 0;

                .head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 6px;

                    h4 {
                        font-weight: 500;
                        font-size: .85rem;
                        color: $dark-text;
                    }

                    .button {
                        height: 28px;
                        width: 28px;
                    }
                }

                p {
                    font-size: .8rem;
                    color: $muted-grey;
                    margin-bottom: 8px;
                }
            }

            //Tag list
            .album-tag-list {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;

                //Tag element
                .tagged-user {
                    position: relative;

                    &:not(:first-child) {
                        $var: 12;

                        @for $i from 1 through 99 {
                            &:nth-child(#{$i}) {
                                margin-left: -#{$var}px;
                            }
                        }
                    }

                    &:hover {
                        .remove-tag {
                            display: flex;
                        }
                    }

                    img {
                        height: 42px;
                        width: 42px;
                        border-radius: 50%;
                        border: 3px solid $light-grey;
                    }

                    //Remove tag button
                    .remove-tag {
                        position: absolute;
                        top: -5px;
                        left: -7px;
                        display: none;
                        justify-content: center;
                        align-items: center;
                        height: 22px;
                        width: 22px;
                        border-radius: 50%;
                        border: 2px solid $white-light;
                        background: $muted-grey;
                        cursor: pointer;

                        &:hover {
                            background: $red;
                        }

                        svg {
                            height: 12px;
                            width: 12px;
                            stroke: $white-light;
                        }
                    }
                }
            }

            //Album meta
            .shared-album, .album-date {
                margin-bottom: 10px;
                margin-top: 0;

                .head {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 6px;

                    h4 {
                        font-weight: 500;
                        font-size: .85rem;
                        color: $dark-text;
                    }

                    .button {
                        height: 28px;
                        width: 28px;
                    }
                }

                p {
                    font-size: .8rem;
                    color: $muted-grey;
                    margin-bottom: 8px;
                }
            }

            .album-date {
                margin-top: 20px;
            }
        }

        //Right side
        .right-section {
            width: 75%;
            overflow-y: auto;
        }
    }

    //Footer
    .card-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 !important;
        padding: 8px;

        button {
            margin-left: 6px;
            line-height: 0;
        }

        //Dropdown
        .dropdown {
            button {
                padding: 0 16px;
                height: 38px;

                svg {
                    height: 16px;
                    width: 16px;

                    &.main-icon {
                        margin-right: 4px;
                    }
                }

                i {
                    font-size: 18px;
                    margin-right: 4px;
                }
            }
        }
    }
}

/* ==========================================================================
5. Videos modal
========================================================================== */

.videos-modal {
    .modal-content {
        max-width: calc(100% - 40px);
    }

    //Modal card
    .modal-card {
        max-height: calc(100vh - 20px) !important;
    }

    //Header
    .card-heading {
        border-bottom: 1px solid $fade-grey;
        justify-content: flex-start !important;

        .button {
            line-height: 0 !important;
            padding: 14px 18px !important;
            margin-left: auto;
            margin-right: 10px;
            cursor: pointer;

            i {
                font-size: 18px;
                margin-right: 4px;
            }
        }
    }

    //Body
    .card-body {
        padding: 0 !important;

        .inner {
            display: flex;

            //Left side
            .left-section {
                width: 65%;
            }

            //right side
            .right-section {
                position: relative;
                width: 35%;
                border-left: 1px solid $fade-grey;

                //Comments
                .comment-controls {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: darken($light-grey, 2%);
                    height: 50px;
                    width: 100%;
                    border-radius: 0 0 6px 0;
                    border-top: 1px solid darken($light-grey, 8%);

                    .controls-inner {
                        position: relative;
                        display: flex;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        padding: 0 16px;

                        img {
                            height: 32px;
                            width: 32px;
                            border-radius: 50%;
                        }

                        //Input area
                        .control {
                            width: 100%;

                            .textarea, .emojionearea-editor {
                                resize: none;
                                height: 36px;
                                max-height: 36px;
                                min-height: 36px;
                                border-radius: 100px;
                                overflow: hidden;
                                line-height: 1.6;
                                font-size: .8rem;
                                padding-left: 16px;
                                margin: 0 6px;
                            }
                        }

                        //Emojis
                        .emojionearea-editor {
                            padding-left: 0 !important;

                            img {
                                height: 18px;
                                width: 18px;
                                min-height: 18px;
                                max-height: 18px;
                            }
                        }

                        .emojionearea {
                            overflow: visible !important;
                        }

                        .emojionearea-picker {
                            top: -230px;
                            position: absolute;
                            left: -50px;
                            width: 310px;

                            .emojionearea-wrapper {
                                width: 310px;

                                img {
                                    height: 22px;
                                    width: 22px;
                                    min-height: 22px;
                                    max-height: 22px;
                                }
                            }
                        }

                        .emojionearea-scroll-area {
                            width: 310px;
                        }

                        .emojionearea .emojionearea-button > div.emojionearea-button-open {
                            background-position: 0 -22px;
                        }

                        .emojionearea .emojionearea-picker .emojionearea-scroll-area .emojibtn {
                            width: 24px !important;
                            height: 24px !important;
                        }
                    }
                }

                //Header
                .header {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 12px;
                    width: 100%;

                    //user meta
                    img {
                        height: 42px;
                        width: 42px;
                        border-radius: 50%;
                    }

                    .user-meta {
                        margin: 0 10px;

                        span {
                            display: block;

                            &:first-child {
                                font-size: .9rem;
                                font-weight: 500;

                                small {
                                    color: $muted-grey;
                                }
                            }

                            &:nth-child(2) {
                                font-size: .8rem;
                                color: $muted-grey;
                            }
                        }
                    }

                    .button {
                        line-height: 0;
                        margin-left: auto;
                        padding: 14px 18px;
                    }

                    //Dropdown
                    .dropdown {
                        .button {
                            padding: 18px 6px;
                            border: none;
                            background: transparent;

                            svg {
                                height: 18px;
                                width: 18px;
                            }

                            img {
                                border-radius: 50%;
                            }
                        }

                        .dropdown-menu {
                            margin-top: 10px;
                        }
                    }
                }

                //Inner content
                .inner-content {
                    padding: 12px;

                    .control {
                        width: 100%;

                        input {
                            padding-left: 34px;

                            &:focus {
                                + .icon svg {
                                    stroke: $accent;
                                }
                            }
                        }

                        .icon {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 32px;
                            width: 32px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            svg {
                                height: 18px;
                                width: 18px;
                                stroke: $placeholder;
                                transition: all .3s;
                            }
                        }
                    }
                }

                //Statistics
                .live-stats {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 0;
                    border-bottom: 1px solid $fade-grey;

                    .social-count {
                        display: flex;
                        align-items: stretch;

                        .shares-count, .comments-count, .likes-count, .views-count {
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            margin: 0 3px;

                            span {
                                display: block;
                                font-size: .8rem;
                                color: $grey-text;
                                margin: 0 5px;

                                &.views {
                                    margin: 0 2px;
                                }
                            }

                            svg {
                                height: 14px;
                                width: 14px;
                                stroke: $grey-text;
                            }
                        }
                    }
                }

                //Actions
                .actions {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 16px 0;

                    .action {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;

                        span {
                            display: block;
                            font-size: .8rem;
                            margin: 0 4px;
                            transition: all .3s;
                        }

                        svg {
                            height: 16px;
                            width: 16px;
                            stroke: $grey-text;
                            transition: all .3s;
                        }

                        &:hover {
                            span {
                                color: $accent;
                            }

                            svg {
                                stroke: $accent;
                            }
                        }
                    }
                }

                //Tabs
                .tabs-wrapper {
                    .tabs {
                        margin-bottom: 0 !important;

                        li {
                            a {
                                font-size: .85rem;
                                color: $placeholder;
                                font-weight: 400;
                            }

                            &:hover {
                                a {
                                    border-bottom-color: $muted-grey;
                                }
                            }

                            &.is-active {
                                a {
                                    font-weight: 500;
                                    color: $accent;
                                    border-bottom-color: $accent;
                                }
                            }
                        }
                    }

                    //tab content
                    .tab-content {
                        background: $light-grey;
                        height: 310px;
                        padding: 20px 14px;
                        overflow-y: auto;

                        //Single comment
                        .is-comment {
                            border: none !important;
                            padding-top: 0 !important;

                            .media-left {
                                margin-right: 10px;

                                img {
                                    border-radius: 50%;
                                }
                            }

                            .media-content {
                                background: $white;
                                padding: 8px;
                                border-radius: 12px;

                                .username {
                                    font-size: .8rem;
                                    font-weight: 500;
                                }

                                p {
                                    font-size: .75rem;
                                    color: $muted-grey;
                                }

                                .comment-actions {
                                    display: flex;
                                    align-items: center;
                                    padding-top: 8px;

                                    span, a {
                                        display: block;
                                        font-size: .75rem;
                                    }

                                    span {
                                        margin: 0 20px;
                                        color: $muted-grey;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* ==========================================================================
6. Change cover and profile picture modals
========================================================================== */

.change-cover-modal, .change-profile-pic-modal {
    .card {
        .card-heading {
            padding: 16px 28px;

            h3 {
                font-size: 1rem;
            }
        }

        .card-body {
            .selection-placeholder {
                padding: 0 20px 30px 20px;

                .selection-box {
                    padding: 40px;
                    width: 100%;
                    border: 1px solid $fade-grey;
                    border-radius: 4px;
                    background: $white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: all .3s;

                    &:hover {
                        box-shadow: $light-box-shadow;

                        .box-content {
                            img {
                                -webkit-filter: grayscale(0);
                                filter: grayscale(0);
                                opacity: 1;
                            }

                            .box-text {
                                span:first-child {
                                    color: $accent;
                                }
                            }
                        }
                    }

                    .box-content {
                        text-align: center;

                        img {
                            display: block;
                            max-height: 120px;
                            margin: 0 auto;
                            opacity: .5;
                            transition: all .3s;
                            -webkit-filter: grayscale(1);
                            filter: grayscale(1);
                        }

                        .box-text {
                            margin: 10px 0;

                            span {
                                display: block;

                                &:first-child {
                                    font-weight: 500;
                                    color: $dark-text;
                                    transition: color .3s;
                                }

                                &:nth-child(2) {
                                    font-size: .9rem;
                                    color: $muted-grey;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* ==========================================================================
7. User photos modal
========================================================================== */

.user-photos-modal {
    .card {
        .card-heading {
            padding: 20px;

            h3 {
                font-size: 1rem;
            }
        }

        .card-body {
            padding: 0 20px;

            .tabs {
                margin-bottom: 0;

                ul {
                    border-color: transparent;

                    li {
                        &.is-active {
                            background: lighten($fade-grey, 5%);
                            border-radius: 8px;
                            border: 1px solid lighten($fade-grey, 4%);

                            a {
                                color: $dark-text;
                                font-weight: 500;
                            }
                        }

                        a {
                            font-size: .8rem;
                            border-bottom-color: transparent !important;
                        }
                    }
                }
            }

            .tab-content {
                padding: 20px 0;
                max-height: 395px;
                overflow-y: auto;

                .album-info {
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h4 {
                        font-weight: 600;
                        color: $dark-text;

                        small {
                            font-size: .9rem;
                            color: $muted-grey;
                            font-weight: 400;
                        }
                    }

                    .close-nested-photos {
                        font-size: .9rem;
                        font-weight: 500;
                    }
                }
            }

            .image-grid, .album-image-grid {
                animation: fadeInLeft .5s;

                .column {
                    padding: .5rem;
                }

                .grid-image {
                    position: relative;

                    &:hover {
                        img {
                            box-shadow: $heavy-box-shadow;
                        }

                        .inner-overlay {
                            background: rgba($dark-text, 0.2) !important;
                        }
                    }

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        cursor: pointer;
                        z-index: 1;

                        &:checked + .inner {
                            .inner-overlay {
                                background: rgba($dark-text, 0.5);
                            }

                            .indicator {
                                display: flex;
                            }
                        }
                    }

                    .inner {
                        position: relative;

                        img {
                            display: block;
                            border-radius: 4px;
                            transition: all .3s;
                        }

                        .inner-overlay {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba($dark-text, 0.1);
                            border-radius: 4px;
                            transition: all .3s;
                            z-index: 0;
                        }

                        .indicator {
                            position: absolute;
                            top: 8px;
                            right: 8px;
                            display: none;
                            justify-content: center;
                            align-items: center;
                            height: 26px;
                            width: 26px;
                            border-radius: 50%;
                            background: $accent;
                            border: 2px solid $white;
                            z-index: 0;

                            svg {
                                height: 12px;
                                width: 12px;
                                stroke: $white-light;
                                stroke-width: 3px;
                            }
                        }
                    }
                }
            }

            .album-wrapper {
                width: 100%;
                border: 1px solid $fade-grey;
                border-radius: 4px;
                padding: 12px;
                background: $white;
                cursor: pointer;
                transition: all .3s;

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: $light-box-shadow;

                    .image-count {
                        svg {
                            stroke: $accent !important;
                        }

                        span {
                            color: $accent !important;
                        }
                    }
                }

                .album-image {
                    img {
                        display: block;
                        border: 4px;
                    }
                }

                .album-meta {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .album-title {
                        margin-top: 6px;

                        span {
                            display: block;

                            &:first-child {
                                min-width: 0;
                                font-size: .9rem;
                                font-weight: 600;
                                color: $dark-text;
                            }

                            &:nth-child(2) {
                                font-size: .8rem;
                                color: $muted-grey;
                            }
                        }
                    }

                    .image-count {
                        display: flex;
                        align-items: center;
                        margin-top: 6px;

                        svg {
                            height: 20px;
                            width: 20px;
                            stroke: $placeholder;
                            transition: all .3s;
                        }

                        span {
                            display: block;
                            font-size: .9rem;
                            font-weight: 500;
                            color: $muted-grey;
                            margin: 0 4px;
                            transition: .3s;
                        }
                    }
                }
            }
        }

        .card-footer {
            padding: 20px;
            margin: 0;
            border: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}

/* ==========================================================================
8. Crop profile picture modal
========================================================================== */

.upload-crop-profile-modal, .upload-crop-cover-modal {
    .card {
        .card-heading {
            padding: 20px;

            h3 {
                font-size: 1rem;
            }
        }

        .card-body {
            padding: 0 20px;

            .profile-uploader-box, .cover-uploader-box {
                display: block;
                width: 100%;
                height: 300px;
                padding: 40px;
                border: 3px dashed $fade-grey;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    .inner-content {
                        position: relative;

                        img {
                            opacity: 1;
                            -webkit-filter: grayscale(0);
                            filter: grayscale(0);
                        }
                    }
                }

                .inner-content {
                    display: block;

                    img {
                        display: block;
                        max-height: 110px;
                        margin: 0 auto;
                        opacity: .5;
                        -webkit-filter: grayscale(1);
                        filter: grayscale(1);
                        transition: all .3s;
                    }

                    span {
                        display: block;
                        text-align: center;
                        color: $placeholder;
                        padding: 10px 0;
                    }
                }

                input {
                    display: none;
                }
            }

            .croppie-container {
                .cr-boundary {
                    background-image: url(http://cdn.thedesigninspiration.com/wp-content/uploads/2014/07/Icon-Pattern-l.jpg);
                    background-repeat: repeat;
                    background-size: cover;
                }

                .cr-viewport {
                    box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.1);
                }

                .cr-slider {
                    cursor: pointer;
                }
            }

            .upload-help {
                display: flex;
                justify-content: center;
                align-items: center;

                .profile-reset, .cover-reset {
                    display: block;
                    color: $muted-grey;
                    padding: 4px 12px;
                    border-radius: 4px;
                    font-size: .9rem;
                    background: $fade-grey;
                    transition: all .3s;

                    &:hover {
                        background: lighten($fade-grey, 3%);
                        color: $dark-text;
                    }
                }
            }
        }

        .card-footer {
            border-top: none;
            justify-content: center;
            margin: 20px;
        }
    }
}

/* ==========================================================================
9. End tour modal
========================================================================== */

.end-tour-modal {
    .modal-content {
        .card {
            .card-body {
                .image-wrap {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 90px;
                    width: 90px;
                    border-radius: 50%;
                    background: lighten($fade-grey, 5%);
                    margin: 0 auto 20px auto;

                    img {
                        display: block;
                        height: 50px;
                        width: 50px;
                    }
                }

                h3 {
                    font-weight: 500;
                    font-size: 1.1rem;
                    font-family: 'montserrat', sans-serif;
                }

                p {
                    font-size: .9rem;
                    color: $muted-grey;
                    max-width: 330px;
                    margin: 0 auto;
                }

                .action {
                    margin: 20px 0;

                    .button {
                        max-width: 180px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
10. No stream modal
========================================================================== */

.no-stream-modal {
    .modal-content {
        .card {
            .card-body {
                .image-wrap {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto 20px auto;

                    img {
                        display: block;
                        width: 200px;
                    }
                }

                h3 {
                    font-weight: 500;
                    font-size: 1.1rem;
                    font-family: 'montserrat', sans-serif;
                }

                p {
                    font-size: .9rem;
                    color: $muted-grey;
                    max-width: 330px;
                    margin: 0 auto;
                }

                .action {
                    margin: 20px 0;

                    .button {
                        max-width: 180px;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
11. Media Queries
========================================================================== */

//Mobile
@media (max-width: 767px) {
    .modal {
        &.albums-modal, &.videos-modal {
            .card {
                .card-heading {
                    h3 {
                        display: none;
                    }

                    .button {
                        margin-left: 0;
                    }

                    .close-wrap {
                        margin-left: auto;
                    }
                }

                .card-body {
                    flex-direction: column;

                    .left-section {
                        display: none;
                        width: 100%;
                    }

                    .right-section {
                        width: 100%;
                    }
                }
            }
        }

        &.albums-help-modal, &.videos-help-modal {
            img {
                height: 110px !important;
            }
        }

        .modal-content {
            max-width: 340px;

            .content-block {
                width: 314px;

                img {
                    height: 135px;
                }
            }
        }
    }
}

//Tablet Portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .modal {
        &.albums-modal {
            .card {
                .card-body {
                    .album-date, .tagged-in-album, .shared-album {
                        .head {
                            h4 {
                                font-size: .75rem;
                            }

                            p {
                                font-size: .7rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
