/*! _video.scss | Friendkit | © Css Ninja. 2018-2019 */

/* ==========================================================================
Video elements styles
========================================================================== */

/*
    1. Live video
*/

/* ==========================================================================
1. Live video
========================================================================== */

.video-wrapper {
    .video-wrap {
        position: relative;
        width: 100%;
        margin: 0 auto;

        video {
            display: block;
            width: 100%;
            height: auto;
            min-height: 630px;
            border-radius: 0 0 0 6px;
        }

        .live {
            position: absolute;
            top: 0;
            left: 0;
            animation: opacity-shift 2s infinite;
            display: block;
            background: #ff2e1c;
            border-radius: 3px;
            color: $white;
            padding: 8px 16px;
            margin-top: 20px;
            margin-left: 20px;
            font-size: 10px;
            font-weight: 400;
            font-family: 'Roboto', sans-serif;
            text-transform: uppercase;
            letter-spacing: 2px;
            z-index: 1052;
        }
    }
}
