/*! _reponsive.scss | Friendkit | © Css Ninja. 2018-2019 */

/* ==========================================================================
Responsive styles
========================================================================== */

/*
    0. Resets
    1. Mobile
    2. Tablet Landscape
    3. Tablet Portrait
*/

/* ==========================================================================
0. Resets
========================================================================== */

@media screen and (min-width: 1297px) {
    .container.is-custom {
        max-width: 1240px;
        width: 1240px;
    }
}

@media screen and (min-width: 1088px) {
    .container.is-custom {
        max-width: 1140px;
        width: 1140px;
    }
}

/* ==========================================================================
1. Mobile (max-width: 767px)
========================================================================== */

@media (max-width: 767px) {
    //Layout
    .view-wrap {
        &.is-headless {
            padding-top: 10px !important;
        }
    }

    .column {
        &.no-padding-left {
            padding-left: .75rem;
        }

        &.no-padding-right {
            padding-right: .75rem;
        }

        &.no-side-padding-mobile {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }

    //Mobile nav
    .mobile-navbar {
        .nav-drop {
            position: fixed !important;
            top: 58px !important;
            left: 0 !important;
            right: 0 !important;
            width: 100% !important;
        }
    }

    //Explorer menu
    .explorer-menu {
        .explorer-container {
            padding: 0 20px;

            .explorer-header {
                .control {
                    max-width: 200px;
                }
            }

            .explore-list {
                max-height: 528px;

                .explore-item {
                    padding: 4px 0;
                    width: calc(33.3% - 16px);

                    img {
                        height: 50px;
                        width: 50px;
                    }
                }
            }
        }
    }

    //Cards
    .card {
        &.is-post {
            .likers-text {
                display: none;
            }

            .post-link {
                flex-direction: column;

                .link-image {
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                    max-height: 180px;

                    > img {
                        width: 100% !important;
                        height: 100% !important;
                        max-height: 180px;
                        object-fit: cover;
                    }
                }

                .link-content {
                    margin-left: 0 !important;
                    padding: 16px 6px;
                }
            }
        }
    }

    //Chat
    .chat-wrapper {
        .chat-search {
            display: none !important;
        }

        .chat-body {
            width: calc(100% - 60px) !important;
        }

        .chat-body-inner {
            padding: 20px 10px 60px 10px !important;
        }

        .chat-action {
            padding: 0 10px !important;
        }

        .chat-panel {
            width: calc(100% - 60px) !important;
        }
    }

    //Modals
    .modal-content {
        max-height: calc(100vh - 80px) !important;
    }

    //Inbox
    .inbox-wrapper {
        overflow: hidden;

        .reply-wrapper {
            padding: 20px 10px !important;

            .reply-wrapper-inner {
                padding: 10px !important;
            }
        }
    }

    .control.is-grouped {
        margin-bottom: 8px;
    }

    .inbox-left-sidebar {
        width: 260px !important;
        transform: translateX(-260px);

        &.is-opened-mobile {
            transform: translateX(0);
        }
    }

    .inbox-center-container {
        width: 100% !important;
        left: 0 !important;

        .action-buttons {
            padding: 10px 20px !important;
        }
    }

    .inbox-message-container {
        width: 100% !important;
        transform: translateX(100%);

        &.is-opened-mobile {
            transform: translateX(0);
        }

        .message-body {
            padding: 1.25em .5em !important;

            .message-preview {
                .header {
                    flex-direction: column !important;
                    text-align: center !important;

                    .meta-right {
                        margin: 10px 0 !important;
                        text-align: center !important;
                    }
                }
            }
        }
    }

    //Profile
    .cover-bg {
        .cover-image {
            min-height: 180px !important;
        }
    }

    .profile-subheader {
        justify-content: center !important;
        margin-top: 50px !important;
    }

    .profile-about {
        flex-direction: column;
        margin-top: -30px;

        .left-menu {
            width: 100%;
            max-width: 100%;
            min-width: 100%;

            .left-menu-inner {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .menu-item {
                    padding: 0 10px;

                    .menu-icon {
                        padding: 0 16px;
                    }

                    span {
                        display: none;
                    }
                }
            }
        }

        .right-content {
            padding: 0;
        }
    }

    .about-timeline {
        .timeline-item {
            .button {
                display: none;
            }
        }
    }

    .about-card {
        .video-wrapper {
            width: calc(50% - 8px) !important;
        }

        .place-wrapper {
            width: calc(100% - 8px) !important;
        }
    }
}

/* ==========================================================================
2. Tablet Landscape
========================================================================== */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

    .container {
        max-width: 100%;

        .column {
            padding: .5rem;
        }
    }

    .is-hidden-landscape {
        display: none !important;
    }

    //Mobile nav
    .mobile-navbar {
        .navbar-brand {
            .navbar-item {
                &:nth-child(2) {
                    margin-left: auto !important;
                }
            }
        }
    }

    //Explorer menu
    .explorer-menu {
        .explorer-container {
            .explorer-header {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }

    //Chat
    .chat-wrapper {
        .chat-body-inner {
            padding: 20px 20px 60px 20px !important;
        }

        .chat-action {
            padding: 0 20px !important;
        }
    }

    //Inbox
    .reply-wrapper {
        padding: 20px 0 !important;

        .reply-wrapper-inner {
            padding: 10px !important;
        }
    }

    .inbox-left-sidebar {
        .compose {
            padding: 20px 10px !important;
        }

        .left-menu {
            a {
                margin: 0 10px !important;
                padding: 10px !important;
            }
        }
    }

    .action-buttons .button {
        margin-bottom: 4px !important;
    }

    //Profile

    .profile-about {
        .left-menu {
            max-width: 220px;
            min-width: 220px;
        }
    }

    //widgets
    .friend-cards-list {
        .is-friend-card {
            .friend-item {
                .text-content {
                    a {
                        font-size: .8rem !important;
                    }

                    span {
                        font-size: .65rem !important;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
3. Tablet Portrait
========================================================================== */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    //Layout
    .columns {
        &.has-portrait-padding {
            padding: 0 40px;
        }
    }

    .column {
        &.no-padding-left {
            padding-left: .75rem;
        }

        &.no-padding-right {
            padding-right: .75rem;
        }
    }

    //Mobile nav
    .mobile-navbar {
        .navbar-brand {
            .navbar-item {
                &:nth-child(2) {
                    margin-left: auto !important;
                }
            }
        }
    }

    //Explorer menu
    .explorer-menu {
        .explorer-container {
            .explorer-header {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }

    //Chat
    .chat-wrapper {
        .chat-body {
            width: calc(100% - 60px) !important;
        }

        .chat-body-inner {
            padding: 20px 40px 60px 40px !important;
        }
    }

    //Inbox
    .inbox-wrapper {
        overflow: hidden;
    }

    .inbox-left-sidebar {
        width: 260px !important;
        transform: translateX(-260px);

        &.is-opened-mobile {
            transform: translateX(0);
        }
    }

    .inbox-center-container {
        width: 100% !important;
        left: 0 !important;

        .action-buttons {
            padding: 10px 20px !important;
        }
    }

    .inbox-message-container {
        width: 100% !important;
        transform: translateX(100%);

        &.is-opened-mobile {
            transform: translateX(0);
        }
    }

    //Profile
    .cover-bg {
        .cover-image {
            min-height: 180px !important;
        }
    }

    .profile-subheader {
        justify-content: center !important;
        margin-top: 50px !important;
    }

    .profile-about {
        flex-direction: column;
        margin-top: -30px;

        .left-menu {
            width: 100%;
            max-width: 100%;
            min-width: 100%;

            .left-menu-inner {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .menu-item {
                    padding: 0 10px;

                    .menu-icon {
                        padding: 0 16px;
                    }
                }
            }
        }

        .right-content {
            padding: 0;
        }
    }
}
