/*! _colors.scss | Friendkit | © Css Ninja. 2018-2019 */

/* ==========================================================================
Main color and shadow variables
========================================================================== */

/*
    1. Main colors
    2. State colors
    3. Social colors
    4. Box Shadows
*/

/* ==========================================================================
1. Main colors
========================================================================== */

// $white: #fff;
// $white-smoke: #fcfcfc;
// $white-light: #fafafa;
// $smokey: #f5f5f5;
// $accent-grey: #ccc;
// $grey-text: #888da8;
// $medium-text: #757a91;
// $blueish-grey: #ecf0f7;
// $dark-text: #393a4f;

// $primary: #ff5f59;
// $secondary: $medium-text;
// $accent: #0062ff;

// $sidebar: #344258;
// $lightbox: #181e28;
// $muted-grey: #999;
// $cream-grey: #eee;
// $medium-grey: #ddd;
// $placeholder: #cecece;

// $fade-grey: #e8e8e8;
// $muted-grey: #999;
// $light-grey: #f5f6f7;


/* ==============
OVERRIDES
================= */
$primary: #4F80F8;
$secondary: #1fcaa5;
$accent: white;


$white: #4d4d4d;
$white-smoke: #fafafa;
$white-light: #fafafa;
$smokey: #f5f5f5;
$accent-grey: #ccc;
$grey-text: #888da8;
$medium-text: rgb(255, 255, 255);
$blueish-grey: #ecf0f7;
$dark-text: white;

$sidebar: rgba(255, 255, 255, 0.918); // default color of a div.
$lightbox: blue;
$muted-grey: #999;
$cream-grey: #eee;
$medium-grey: #ddd;
$placeholder: #f5f6f7;

$fade-grey: #0095f1;
$muted-grey: #999;
$light-grey: #f5f6f7;


$panel-grey: #454545;

/* ==========================================================================
2. State colors
========================================================================== */

$red: #FF7273;
$blue: #039BE5;
$green: #1CE589;
$orange: #ff9700;
$fire: #ff533d;
$purple: #9c2bed;

/* ==========================================================================
3. Social colors
========================================================================== */

$facebook: #3B5998;
$twitter: #1dcaff;
$linkedin: #007bb6;
$tumblr: #35465c;
$github: #444;
$dribbble: #ea4c89;
$google-plus: #d34836;
$youtube: #cc181e;
$reddit: #ff4500;

/* ==========================================================================
4. Box shadows
========================================================================== */
$base-shadow: rgba(0, 0, 0, 0.12);

//Primary box shadow
$primary-shadow-from: rgba($primary, 0.42);
$primary-shadow-to: rgba($primary, 0.2);
$primary-box-shadow: 0 14px 26px -12px $primary-shadow-from, 0 4px 23px 0px $base-shadow, 0 8px 10px -5px $primary-shadow-to !important;

//Secondary box shadow
$secondary-shadow-from: rgba($secondary, 0.42);
$secondary-shadow-to: rgba($secondary, 0.2);
$secondary-box-shadow: 0 14px 26px -12px $secondary-shadow-from, 0 4px 23px 0px $base-shadow, 0 8px 10px -5px $secondary-shadow-to !important;

//Accent box shadow
$accent-shadow-from: rgba($accent, 0.42);
$accent-shadow-to: rgba($accent, 0.2);
$accent-box-shadow: 0 14px 26px -12px $accent-shadow-from, 0 4px 23px 0px $base-shadow, 0 8px 10px -5px $accent-shadow-to !important;

//Green box shadow
$green-shadow-from: rgba($green, 0.42);
$green-shadow-to: rgba($green, 0.2);
$green-box-shadow: 0 14px 26px -12px $green-shadow-from, 0 4px 23px 0px $base-shadow, 0 8px 10px -5px $green-shadow-to !important;

//Red box shadow
$red-shadow-from: rgba($red, 0.42);
$red-shadow-to: rgba($red, 0.2);
$red-box-shadow: 0 14px 26px -12px $red-shadow-from, 0 4px 23px 0px $base-shadow, 0 8px 10px -5px $red-shadow-to !important;

//Blue box shadow
$blue-shadow-from: rgba($blue, 0.42);
$blue-shadow-to: rgba($blue, 0.2);
$blue-box-shadow: 0 14px 26px -12px $blue-shadow-from, 0 4px 23px 0px $base-shadow, 0 8px 10px -5px $blue-shadow-to !important;

//Light box shadow
$light-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);

//Heavy box shadow
$heavy-box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
