/*! _navbar.scss | Friendkit | © Css Ninja. 2018-2019 */

/* ==========================================================================
Navbar styles
========================================================================== */

/*
    0. Main Navbar
    1. Mobile Navbar
    2. Options nav
    3. Explorer Menu
*/

/* ==========================================================================
0. Main Navbar
========================================================================== */

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 19;
    height: 58px;
    width: 100%;
    background: $white;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid $fade-grey;
    transition: all .3s;

    //Box shadow modifier
    &.no-shadow {
        box-shadow: none !important;
    }

    &.no-background {
        background: transparent !important;
        border-bottom-color: transparent !important;
    }

    &.is-landing {
        .navbar-item {
            a:not(.button) {
                color: $muted-grey;
            }
        }

        .navbar-end {
            .button {
                font-size: .95rem;
                height: 42px;
                min-width: 120px;
            }
        }

        &.no-background {
            .navbar-brand {
                .navbar-burger span {
                    background: $white;
                }
            }

            .navbar-end {
                .navbar-item {
                    .button {
                        background: transparent;
                        border-color: $white-smoke;
                        color: $white-smoke !important;

                        &:hover {
                            border-color: $white;
                            background: $white;
                            color: $dark-text !important;
                            opacity: 1 !important;
                        }
                    }

                    a {
                        color: $white-smoke;
                    }
                }
            }
        }

        &.mobile-navbar {
            &.no-background {
                .navbar-brand {
                    .dark-mobile-logo {
                        display: none;
                    }

                    .light-mobile-logo {
                        display: block;
                    }
                }
            }

            .navbar-brand {
                .dark-mobile-logo {
                    display: block;
                }

                .light-mobile-logo {
                    display: none;
                }
            }
        }
    }

    //App layout
    &.is-side {
        width: calc(100% - 70px);
        margin-left: 70px;
    }

    //Brand
    .navbar-brand {
        height: 58px;
        margin-left: 0 !important;
        margin-right: 20px;

        &.is-fluid {
            margin-right: 0;
            margin-left: 10px !important;
        }

        &.is-title {
            display: flex;
            align-items: center;

            h2 {
                margin-left: 20px;
                color: $dark-text;
                font-family: 'Roboto', sans-serif;
                font-size: 1.1rem;
                font-weight: 600;
            }
        }

        //Brand item
        .navbar-item {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 58px;
            min-width: 58px;

            img {
                max-height: 42px;
                max-width: 42px;
            }

            &:hover {
                background: $primary !important;
            }
        }
    }

    //Nav menu
    .navbar-menu {
        margin-right: 0 !important;
    }

    //Single item
    .navbar-item {
        position: relative;

        //Plus Menu
        &.is-plus-menu {
            position: relative;

            &.is-active {
                .button {
                    transform: rotate(45deg);
                    background: $primary;
                    border-color: $primary;
                    box-shadow: $primary-box-shadow;
                }

                .plus-drop {
                    transform: translateY(0);
                    opacity: 1;
                    pointer-events: all;
                }
            }

            .plus-drop {
                position: absolute;
                top: 62px;
                right: 16px;
                width: 280px;
                background: $white;
                min-height: 160px;
                border: 1px solid $fade-grey;
                border-radius: 6px;
                box-shadow: $light-box-shadow;
                transform: translateY(10px);
                opacity: 0;
                pointer-events: none;
                transition: all .3s;

                .drop-content {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    padding: 10px 0 20px 0;

                    a {
                        display: flex;
                        align-items: center;
                        padding: 10px 20px;

                        &:hover {
                            background: lighten($fade-grey, 6%);
                        }

                        svg {
                            height: 22px;
                            width: 22px;
                            stroke: $medium-text;
                            stroke-width: 1px;
                        }

                        .meta {
                            margin-left: 12px;

                            span {
                                display: block;
                                line-height: 1.4;

                                &:first-child {
                                    font-weight: 500;
                                    color: $dark-text;
                                    font-size: .9rem;
                                }

                                &:nth-child(2) {
                                    font-size: .8rem;
                                    color: $muted-grey;
                                }
                            }
                        }
                    }
                }
            }
        }

        //Icon modifier
        &.is-icon {
            padding-left: 6px !important;
            padding-right: 6px !important;

            .icon-link {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 38px;
                border-radius: 6px;
                transition: all .3s;

                &:hover, &.is-active {
                    background: lighten($accent, 5%);
                    box-shadow: $accent-box-shadow;

                    svg {
                        stroke: $white-light;
                    }

                    .mdi {
                        color: $white-light;
                    }
                }

                //Color modifier
                &.is-primary {
                    &:hover, &.is-active {
                        background: $primary;
                        box-shadow: $primary-box-shadow;

                        svg {
                            stroke: $white;
                        }

                        .mdi {
                            color: $white-light;
                        }
                    }

                    &.is-friends {
                        &:hover, &.is-active {
                            svg {
                                fill: $white;
                                -webkit-animation: pulse 1s infinite;
                                animation: pulse 1s infinite;
                            }
                        }
                    }
                }

                //Active state
                &.is-active {
                    //Floating indicator
                    .indicator {
                        display: block;
                        position: absolute;
                        top: -6px;
                        right: -6px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        border: 2px solid $white;
                        background: $primary;
                    }
                }
            }

            //Svg icon
            .icon-link {
                svg {
                    width: 18px;
                    height: 18px;
                    stroke: $muted-grey;
                    transition: all .3s;
                }

                .mdi {
                    font-size: 20px;
                    color: $muted-grey;
                    transition: all .3s;
                }
            }
        }

        //User account modifier
        &.is-account {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: 16px;
            cursor: pointer;

            //Avatar
            .user-image {
                position: relative;
                max-height: 38px;

                .indicator {
                    display: block;
                    position: absolute;
                    top: 2px;
                    right: -4px;
                    height: 13px;
                    width: 13px;
                    border-radius: 50%;
                    border: 2px solid $white;
                    background: $green;
                }
            }

            //Avatar
            img {
                height: 38px;
                width: 38px;
                max-height: 38px;
                border-radius: 50%;
            }

            //Indicator statuses
            &.is-busy {
                .indicator {
                    background: $fire;
                }
            }

            &.is-opened {
                .account-caret svg {
                    transform: rotate(180deg);
                }
            }
        }

        .action-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            max-width: 36px;
            height: 36px;
            min-height: 36px;
            border-radius: 50%;
            padding: 0;
            display: none;

            svg {
                height: 16px;
                width: 16px;
            }
        }

        //Navbar dropdown
        .nav-drop {
            position: absolute;
            top: 90%;

            //left: calc(50% - 170px);
            left: 0;
            width: 340px;
            background: $white;
            border: 1px solid $fade-grey;
            border-radius: 4px;
            margin-top: 5px;
            box-shadow: 0px 5px 43px rgba(0, 0, 0, 0.18) !important;
            opacity: 0;
            transform: translateY(20px);
            pointer-events: none;
            transition: all .2s;
            z-index: 100;

            //Active state
            &.is-active {
                opacity: 1;
                transform: translateY(0);
                pointer-events: all;
            }

            //Arrow
            &:after, &:before {
                bottom: 100%;
                left: 7%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #fff;
                border-width: 4px;
                margin-left: -4px;
            }

            &:before {
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #fff;
                border-width: 7px;
                margin-left: -7px;
            }

            //Status modifier
            &.is-status {
                left: calc(50% - 100px);
                width: 200px;

                //Inner section
                .inner {
                    .drop-image {
                        img {
                            display: block;
                            width: 170px;
                            height: 170px;
                            min-height: 170px;
                            margin: 0 auto;
                        }
                    }

                    .drop-text {
                        padding: 0 10px 20px 10px;
                        text-align: center;

                        h4 {
                            font-size: .9rem;
                            font-weight: 500;
                        }

                        p {
                            font-size: .8rem;
                            color: $muted-grey;
                        }
                    }
                }
            }

            //Account dropdown modifier
            &.is-account-dropdown {
                width: 300px;
                right: 0 !important;
                left: unset !important;
                max-height: unset !important;

                &:before {
                    right: 23px !important;
                    left: unset !important;
                }

                &:after {
                    display: none !important;
                }
            }

            //inner section
            .inner {
                position: relative;

                //header
                .nav-drop-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 16px;
                    border-bottom: 1px solid $fade-grey;
                    border-radius: 4px 4px 0 0;
                    background: $white;

                    span, a {
                        display: block;
                        text-transform: uppercase;
                        font-size: .68rem;
                        font-weight: 500;

                        &.username {
                            font-weight: 600 !important;
                        }
                    }

                    a {
                        height: unset;
                        width: unset;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                //body
                .nav-drop-body {
                    max-height: 420px;
                    padding: 0 10px;
                    overflow-y: auto;

                    //scrollbar
                    &::-webkit-scrollbar {
                        width: 5px;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 5px;
                        background: rgba(0, 0, 0, 0.2);
                    }

                    //Modifiers
                    &.is-friend-requests, &.is-notifications, &.is-messages {
                        padding: 8px 16px;

                        //media object
                        .media {
                            align-items: stretch;
                            margin: 0;
                            padding: .75rem 0 !important;

                            img {
                                height: 36px;
                                width: 36px;
                                max-height: 36px;
                                border-radius: 50%;
                            }

                            //content
                            .media-content {
                                span, a {
                                    display: block;
                                    width: unset;
                                    height: unset;
                                }

                                a {
                                    font-size: .75rem;
                                    font-weight: 500;
                                    color: $sidebar;

                                    &:hover {
                                        color: $accent;
                                    }
                                }

                                span {
                                    font-size: .75rem;
                                    color: $muted-grey;

                                    a {
                                        color: $sidebar;
                                        display: inline-block;
                                    }
                                }
                            }

                            //icon
                            .added-icon {
                                width: 20px;
                                height: 20px;
                                margin: 0 15px;

                                svg {
                                    height: 20px;
                                    width: 20px;
                                    stroke: $placeholder;
                                }
                            }

                            .media-right {
                                &.is-centered {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                            }
                        }

                        //Meta
                        .time {
                            font-size: .7rem;
                            color: $muted-grey;
                        }
                    }

                    //Account items list
                    &.account-items {
                        padding: 10px 0;

                        hr {
                            margin: .4rem 0 !important;
                        }

                        //List item
                        .account-item {
                            padding: 8px 16px;
                            display: block;
                            line-height: 1.2;

                            //media object
                            .media {
                                align-items: center;

                                .media-left {
                                    img {
                                        height: 35px;
                                        width: 35px;
                                    }
                                }

                                h3 {
                                    color: $dark-text;
                                    font-size: .8rem;
                                    font-weight: 500;
                                    transition: all .3s;
                                }

                                .icon-wrap {
                                    height: 35px;
                                    width: 35px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-right: 1rem;

                                    svg {
                                        width: 18px;
                                        height: 18px;
                                        stroke-width: 2px;
                                        stroke: $medium-text;
                                        transition: all .3s;
                                    }
                                }

                                small {
                                    color: $medium-text;
                                    font-size: .75rem;
                                }

                                .media-right {
                                    svg {
                                        width: 18px;
                                        height: 18px;
                                        margin: 0 16px;
                                    }
                                }
                            }

                            //Active state
                            &.is-active {
                                background: $blue;

                                svg {
                                    stroke: $white;
                                }

                                small {
                                    color: $white;
                                }
                            }

                            &:hover {
                                background: lighten($fade-grey, 7%);

                                svg {
                                    stroke: $accent;
                                }
                            }
                        }
                    }
                }

                //Navbar dropdown footer
                .nav-drop-footer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 12px 10px;
                    border-bottom: 1px solid $fade-grey;
                    border-radius: 0 0 6px 6px;
                    background: $white-light;

                    span, a {
                        display: block;
                        text-transform: uppercase;
                        font-size: .65rem;
                        font-weight: 500;
                    }

                    a {
                        color: $muted-grey;
                        height: unset;
                        width: unset;

                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }

    //Search area
    .control {
        position: relative;

        //input
        .input {
            position: relative;
            height: 38px;
            width: 320px;
            padding-right: 85px;
            padding-left: 38px;
            padding-bottom: 8px;
            background: lighten($fade-grey, 6%);
            border-color: lighten($fade-grey, 6%);
            transition: all .4s;
            z-index: 1;

            &:focus {
                background: $white;
                border-color: darken($fade-grey, 2%);
            }
        }

        .input:not(:valid) ~ .reset-search {
            opacity: 0;
            pointer-events: none;
        }

        .input:focus ~ .search-icon svg {
            stroke: $muted-grey !important;
        }

        //reset search button
        .reset-search {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 38px;
            width: 38px;
            opacity: 1;
            pointer-events: all;
            transition: all .3s;
            z-index: 1;
            cursor: pointer;

            svg {
                height: 18px;
                width: 18px;
                stroke: $muted-grey;
            }
        }

        //Search icon
        .search-icon {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 38px;
            width: 38px;
            z-index: 1;

            svg {
                height: 20px;
                width: 20px;
                stroke: $placeholder;
                transition: all .3s;
            }
        }

        .drop-icon {
            position: absolute;
            top: 0;
            right: -40px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 38px;
            width: 38px;
            z-index: 1;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                svg {
                    stroke: $muted-grey !important;
                }
            }

            svg {
                height: 20px;
                width: 20px;
                stroke: $placeholder !important;
                transform: rotate(0);
                transition: all .3s;
            }
        }

        //Search options
        .search-options {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background: $white;
            padding: 10px 0;
            margin-top: 12px;
            border: 1px solid $fade-grey;
            border-radius: 6px;
            box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.04);
            opacity: 0;
            transform: translateY(20px);
            pointer-events: none;
            transition: all .3s;

            //Arrow
            &:after, &:before {
                bottom: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:after {
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #fff;
                border-width: 4px;
                margin-left: -4px;
            }

            &:before {
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #fff;
                border-width: 10px;
                margin-left: -10px;
            }

            // Options list
            .options-list {
                //List item
                li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 10px 20px;
                    transition: all .3s;
                    cursor: pointer;

                    svg {
                        width: 18px;
                        height: 18px;
                        stroke: $placeholder;
                        stroke-width: 1px;
                    }

                    //Selected state
                    &.is-selected {
                        svg {
                            stroke: $accent;
                        }

                        .option-description span {
                            &:first-child {
                                color: $accent;
                            }
                        }
                    }

                    //Description
                    .option-description {
                        display: block;
                        margin: 0 15px;

                        span {
                            display: block;

                            &:first-child {
                                font-size: .9rem;
                                font-weight: 500;
                                color: $sidebar;
                            }

                            &:nth-child(2) {
                                font-size: .8rem;
                                color: $muted-grey;
                            }
                        }
                    }

                    &:hover {
                        background: $white-light;
                    }
                }
            }

            //Active state
            &.is-active {
                opacity: 1;
                transform: translateY(0);
                pointer-events: all;
            }

            //Close button
            .is-close {
                margin: 16px 20px 6px 20px;

                button {
                    line-height: 0;
                    width: 100%;
                }
            }
        }
    }
}

/* ==========================================================================
1. Mobile Navbar
========================================================================== */

//Mobile mode navbar
.mobile-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    transition: all .3s;

    //Active State
    &.is-active {
        transform: translateY(0);
    }

    //Brand
    .navbar-brand {
        margin-right: 0;

        .navbar-item:hover {
            background: transparent !important;
        }

        img {
            height: 34px;
            max-height: 34px;
            -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
        }
    }

    //Navbar link
    .navbar-link {
        padding-right: 12px !important;
    }

    //Navbar item
    .navbar-item {
        min-width: unset !important;

        &:hover {
            background: transparent !important;
        }

        &.has-dropdown {
            .navbar-link {
                &:after {
                    border-color: $medium-grey;
                }
            }
        }

        &.is-mobile-icon {
            span:not(.menu-badge) {
                display: flex;
                align-items: center;

                svg {
                    height: 18px;
                    width: 18px;
                    stroke: $placeholder;
                    margin-right: 8px;
                }
            }
        }
    }

    //Menu Hamburger
    .navbar-burger {
        height: 58px;
        width: 58px;
    }

    .navbar-burger:hover {
        background-color: white;
    }

    .navbar-burger span {
        background-color: $muted-grey;
    }

    //Navbar Responsive menu
    .navbar-menu {
        background: #fafafa;

        .button {
            padding: 0;
            height: 36px;
            width: 100px;
        }

        .navbar-link {
            color: $dark-text;
            font-weight: 600;
        }

        .navbar-item {
            color: $muted-grey;
        }

        //Link
        .navbar-link {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-bottom: 1px solid $fade-grey;

            img {
                height: 32px;
                width: 32px;
                max-height: 32px !important;
                border-radius: 50%;
            }

            svg {
                height: 20px;
                width: 20px;
                stroke-width: 1.2px;
                stroke: $accent;
            }

            span {
                margin: 0 10px;

                &.is-heading {
                    font-size: 11px;
                    letter-spacing: 1px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }

        //Mobile Dropdown
        .navbar-dropdown .menu-badge {
            margin-left: auto;
            height: 22px;
            font-size: .8rem;
            font-weight: 500;
            padding: 3px 6px;
            line-height: 1.3;
            min-width: 22px;
            text-align: center;
            border-radius: 100px;
            background: lighten($fade-grey, 3%);
            color: $dark-text;
        }

        .navbar-dropdown .button {
            height: 40px;
            display: block;
            width: calc(100% - 32px);
            font-size: .95rem;
            line-height: 2.3;
            margin: 8px 16px;
        }

        .navbar-dropdown .navbar-item {
            font-size: .9rem;
            padding: .75rem 1.5rem !important;

            &.is-atcive, &:hover {
                background: lighten($sidebar, 10%);
            }
        }
    }
}

/* ==========================================================================
2. Options nav
========================================================================== */

.options-nav {
    position: fixed;
    top: 58px;
    left: 0;
    width: 100%;
    height: 50px;
    background: $white;
    border-bottom: 1px solid $fade-grey;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
    z-index: 5;
    transition: all .3s;

    &.no-shadow {
        box-shadow: none;
    }

    .nav-inner {
        display: flex;

        &.is-friends, &.is-events {
            .option-tabs {
                position: relative;
                display: flex;
                width: 210px;

                .option-tab {
                    height: 50px;
                    width: 33.3%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.is-active {
                        span {
                            font-weight: 500;
                            color: $dark-text;
                        }

                        &:first-child {
                            ~ .option-naver {
                                margin-left: 0;
                            }
                        }

                        &:nth-child(2) {
                            ~ .option-naver {
                                margin-left: 33.3%;
                            }
                        }

                        &:nth-child(3) {
                            ~ .option-naver {
                                margin-left: 66.6%;
                            }
                        }
                    }

                    span {
                        display: block;
                        color: $placeholder;
                        font-family: Roboto, sans-serif;
                        font-size: .9rem;
                    }
                }

                .option-naver {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 2.6px;
                    width: 33.3%;
                    border-radius: 4px;
                    background: $dark-text;
                    transition: all .3s;
                }
            }

            .end-group {
                position: relative;
                display: flex;
                justify-content: flex-end;
                margin-left: auto;

                .is-icon {
                    border-left: 1px solid darken($fade-grey, 3%);

                    svg {
                        stroke: $muted-grey;
                    }
                }

                .is-friend-count {
                    padding: 0 20px;
                    color: $muted-grey;
                    font-family: Roboto, sans-serif;
                    font-size: .95rem;
                }
            }
        }

        .nav-item {
            height: 50px;
            display: flex;
            align-items: center;

            &.is-page-title {
                padding: 0 20px;
                border-left: 1px solid darken($fade-grey, 3%);
                border-right: 1px solid darken($fade-grey, 3%);

                h2 {
                    font-family: Montserrat, sans-serif;
                    font-weight: bold;
                    font-size: 1rem;
                    color: $dark-text;
                }
            }

            &.is-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;

                svg {
                    height: 18px;
                    width: 18px;
                    stroke: $muted-grey;
                }
            }

            &.is-search {
                border-left: 1px solid darken($fade-grey, 3%);
                width: 280px;

                .control {
                    padding: 0 16px;
                    width: 100%;

                    input {
                        border: none;
                    }
                }
            }
        }
    }
}

/* ==========================================================================
3. Explorer Menu
========================================================================== */

.explorer-menu {
    position: fixed;
    top: 58px;
    left: 0;
    width: 100%;
    height: calc(100% - 58px);
    background: $white;
    opacity: 0;
    z-index: -1;
    transform: translateY(60px);
    transition: opacity .4s, transform .4s;

    &.is-active {
        transform: translateY(0);
        opacity: 1;
        z-index: 11;
    }

    .explorer-inner {
        position: relative;
        height: 100%;
        width: 100%;

        .explorer-container {
            max-width: 840px;
            margin: 0 auto;
        }

        .explorer-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 0;

            h3 {
                font-family: Montserrat, sans-serif;
                font-weight: bold;
                font-size: 1.2rem;
                color: $dark-text;
            }

            .control {
                position: relative;

                input {
                    padding-right: 40px;

                    &:focus + .form-icon {
                        svg {
                            stroke: $accent;
                        }
                    }
                }

                .form-icon {
                    position: absolute;
                    top: 0;
                    right: 4px;
                    height: 36px;
                    width: 36px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        height: 16px;
                        width: 16px;
                        stroke: $placeholder;
                        transition: stroke .3s;
                    }
                }
            }
        }

        .explore-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .explore-item {
                text-align: center;
                width: calc(20% - 16px);
                margin: 8px;
                padding: 20px 0;
                border: 1px solid transparent;
                border-radius: 8px;
                transition: all .3s;
                cursor: pointer;

                &:hover {
                    border-color: $fade-grey;
                    box-shadow: $light-box-shadow;

                    img {
                        box-shadow: $light-box-shadow;
                    }
                }

                &.is-coming-soon {
                    img {
                        filter: grayscale(0.9);
                    }
                }

                img {
                    display: block;
                    height: 60px;
                    width: 60px;
                    border-radius: 50%;
                    margin: 0 auto;
                    transition: all .3s;
                }

                h4 {
                    font-family: Montserrat, sans-serif;
                    font-weight: 600;
                    font-size: .9rem;
                    color: $dark-text;
                    margin-top: 6px;
                }

                .coming-soon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: lighten($fade-grey, 5%);
                    color: $dark-text;
                    font-size: .8rem;
                    font-weight: 500;
                    line-height: 1;
                    max-width: 96px;
                    padding: 4px 8px;
                    border-radius: 100px;
                    margin: 0 auto;
                    position: relative;
                    top: 3px;
                }
            }
        }
    }
}
