/*! _layout.scss | Friendkit | © Css Ninja. 2018-2019 */

/* ==========================================================================
Main layout styles
========================================================================== */

/*
    1. Body
    2. Global Overlay
    3. Container
    4. View Wrapper
    5. Columns
    6. Footer
    7. Copyright
    8. Media Queries
*/

/* ==========================================================================
1. Body
========================================================================== */

body {
    background: #1f1f1f !important;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    font-family: Roboto,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
    color: $sidebar;

    &.is-frozen {
        overflow: hidden !important;
        position: fixed;
        top: 0;
        left: 0;
    }

    &.is-white {
        background: $white !important;
    }
}

/* ==========================================================================
2. Global Overlay
========================================================================== */

.app-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    opacity: 0;

    &.is-active {
        opacity: 1 !important;
        z-index: 1000 !important;
    }
}

/* ==========================================================================
3. Container
========================================================================== */

.container {
    &.is-fluid {
        margin: 0 !important;
    }
}

/* ==========================================================================
4. View Wrappers
========================================================================== */

.view-wrapper {
    padding: 60px 12px;
    transition: all .3s;

    &.is-side {
        width: calc(100% - 70px);
        margin-left: 70px;
    }

    &.is-full {
        padding: 60px 0 0 0;
    }

    .view-wrap {
        padding: 20px 0;

        &.is-headless {
            padding-top: 10px;
        }
    }
}

.inbox-wrapper {
    position: absolute;
    top: 58px;
    left: 0;
    width: 100%;
    height: calc(100% - 58px);
}

#profile {
    padding: 80px 0;
}

.main-container {
    width: 100%;
    transition: all .3s;

    &.has-sidebar {
        width: calc(100% - 300px);
        margin-left: 300px;
    }
}

/* ==========================================================================
5. Columns
========================================================================== */

.columns {
    &.no-mb {
        margin-bottom: 0 !important;
    }
}

.column {
    &.is-paddingless {
        padding: 0;
    }

    &.no-padding-left {
        padding-left: 0;
    }

    &.no-padding-right {
        padding-right: 0;
    }
}

.card-row {
    display: flex;
    flex-wrap: wrap;

    .card-flex {
        width: calc(25% - 16px);
        margin: 8px;

        //padding: 40px;
        background: $white;
        border: 1px solid darken($fade-grey, 4%);
        border-radius: 6px;
    }
}

/* ==========================================================================
6. Footer
========================================================================== */

.footer {
    background: lighten($fade-grey, 7%);
    padding-bottom: 6rem !important;
    padding-top: 6rem !important;

    .social-links {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        a {
            color: $muted-grey;
            margin: 0 5px;

            &:hover {
                color: $accent;
            }
        }
    }

    .footer-description {
        color: $muted-grey;
    }

    .footer-column {
        padding-top: 20px;

        .column-header {
            font-family: Montserrat, sans-serif;
            text-transform: uppercase;
            color: $accent;
            font-size: 1rem;
            font-weight: 700;
            margin: 10px 0;
        }

        .column-item {
            padding-bottom: 10px;

            a {
                color: $muted-grey;

                &:hover {
                    color: $primary;
                }
            }
        }
    }

    .moto {
        display: block;
        color: $muted-grey;
        margin-top: 12px;
        font-size: .9rem;

        svg {
            display: inline-block;
            height: 14px;
            width: 14px;
            stroke: $red;
            fill: $red;
        }
    }

    .small-footer-logo {
        height: 55px;
    }
}

/* ==========================================================================
7. Copyright
========================================================================== */

.copyright {
    background: lighten($fade-grey, 7%);

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;

        .left {
            font-size: .9rem;
            color: $muted-grey;
        }

        .right {
            img {
                display: block;
                width: 108px;
                margin-left: 20px;
            }
        }
    }
}

/* ==========================================================================
8. Media Queries
========================================================================== */

//Mobile
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .footer {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;

        .columns {
            .column {
                &.is-4 {
                    text-align: center;

                    > div {
                        max-width: 430px;
                        margin: 20px auto;
                    }

                    .moto {
                        margin: 0;
                    }
                }

                &.is-offset-2 {
                    .columns {
                        display: flex;
                        text-align: center;

                        .footer-column {
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .copyright {
        .inner {
            justify-content: center;
        }
    }
}
