#swaggerRoot{
    padding-top: 5px;
    background-color: white;
    border-radius: 4px;
    > div > div:nth-child(2) > div.scheme-container > section > div:nth-child(1) {
        // hide the server picker.
        display: none;
    }

    pre.microlight span,
    .highlight-code,
    .request-url, 
    .curl-command > div:nth-child(3){
        // background color for request sample
        background-color: #4a4a4a;
        padding: 4px;
    }

    // #operations-default-post_admin_HealthCheck > div.no-margin > div > div.responses-wrapper > div.responses-inner > div > div > div.curl-command > div:nth-child(3)
}