RegisteredTestSceneVisualElement {
    justify-content: center;
}

RegisteredTestSceneVisualElement #mainVisualElement {
    flex-direction: row;
    align-items: center;
}

RegisteredTestSceneVisualElement #sceneName {
    flex-shrink: 0;
    flex-basis: 0;
    flex-grow: 1;
    overflow: hidden;
}
