#mainVisualElement {
    background-image: resource("Packages/com.beamable/Editor/UI/Content/Icons/actionBarlight.png");
}

.boundedButton {
    border-color: #b4b4b4;
    background-image: resource("Packages/com.beamable/Editor/UI/Content/Icons/actionBarlight.png");
}

.unboundedButton {
    background-image: resource("Packages/com.beamable/Editor/UI/Content/Icons/actionBarlight.png");
    border-color: #b4b4b4;
}

#scanIcon {
    /*background-image: resource("Packages/com.beamable.server/Editor/UI/Icons/Start all D.png");*/
}

#createTestSceneIcon {
    background-image: resource("Packages/com.beamable/Editor/UI/Content/Icons/server-new.png");
}

#deleteTestSceneIcon {
    background-image: resource("Packages/com.beamable/Editor/UI/Content/Icons/server-delete.png");
}

#generateReportIcon {
    background-image: resource("Packages/com.beamable/Editor/UI/Toolbox/Icons/Config_dark.png");
}

#openMainMenuSceneIcon {
    background-image: resource("Packages/com.beamable/Editor/UI/Toolbox/Icons/Content_Manager_dark.png");
}

#setupBuildSettingIcon {
    background-image: resource("Packages/com.beamable/Editor/UI/Toolbox/Icons/Module_dark.png");
}