name: Format check on push

on:
  push:
    branches:
      - 'main'
      - 'master'
    paths:
      - 'client/**'
      - 'microservice/**'
      - 'cli/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  dotnet-format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Format files in client
        id: format-client
        run: ./format-code.sh
      - name: Format files in cli
        id: format-cli
        run: ./format-code.sh cli
#       - name: Format files in microservice
#         id: format-microservices
#         run: dotnet-format -f microservice
      - name: Format results
        run: echo ::set-output name=any::$(if [ -n "$(git status --porcelain)" ]; then echo "true"; else echo "false"; fi)
        id: format-changes
      - name: Lint changelogs
        uses: DavidAnson/markdownlint-cli2-action@v10
        continue-on-error: true
        with:
          command: fix
          globs: |
            client/Packages/**/CHANGELOG.md
            cli/cli/CHANGELOG.md
      - name: check headcommit message
        id: commit
        run: |
          str="$(jq '.head_commit.message' $GITHUB_EVENT_PATH)"
          echo ::set-output name=title::${str%%\\n*} | tr -d '"'
          echo ::set-output name=body::${str##*\\n} | tr -d '"'
      - name: Create Pull Request
        if:  ${{ steps.format-changes.outputs.any == 'true' }}
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch-suffix: 'timestamp'
          title: 'Formatting: ${{ steps.commit.outputs.title }}'
          commit-message: 'Formatting: ${{ steps.commit.outputs.title }}'
          body: |
            ${{ steps.commit.outputs.body}}
          labels: 'bot'
