name: Publish CLI Docs

on:
  workflow_dispatch:
    inputs:
      commit:
        type: string
        description: Commit hash to deploy
        default: main
      version:
        type: choice
        description: Which readMe version should be used?
        required: true
        options:
          - v1.0.0
          - v2.0.0

jobs:
  generate:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    concurrency:
      group: publish-cli
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
        with: 
          ref: ${{ github.event.inputs.commit }}
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.1
          cache-dependency-path: ./otel-collector/beamable-collector/go.sum
      - name: Build CLI 
        run: |
          ./setup.sh
          dotnet build ./cli/cli 
      - name: Build and Publish Docs
        run: |
          dotnet run -f net10.0 --project ./cli/cli -- docs --readme-key ${{secrets.README_API_KEY}} --guide-slug cli-guides --command-slug cli-command-reference --readme-version ${{ github.event.inputs.version }}
      - name: Post to a Slack channel
        id: slack
        uses: slackapi/slack-github-action@v1.21.0
        with:
          channel-id: C01300W32CS
          slack-message: "CLI Docs have been published! commit=[${{ github.event.inputs.commit }}]"
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
