name: Release Unity SDK

on:
  workflow_dispatch:
    inputs:
      commit:
        type: string
        description: Commit hash to deploy
        default: main
      major:
        type: number
        description: Major version number, X.0.0
        required: true
        default: 0
      minor:
        type: number
        description: Minor version number, 0.X.0
        required: true
        default: 0
      patch:
        type: number
        description: Patch version number, 0.0.X
        required: true
        default: 0
      rcNumber:
        type: number
        description: Rc version number, if required, 0.0.0-PREVIEW.RCX
        required: false
        default: 0
      releaseType:
        type: choice
        description: What type of release is this?
        required: true
        options:
          - nightly
          - rc
          - exp
          - production
      dryRun:
        type: boolean
        description: When true, no publish will happen
        required: true
        default: false

run-name: Release ${{ inputs.releaseType }} ${{ inputs.major }}.${{ inputs.minor }}.${{ inputs.patch }}.${{ inputs.rcNumber }} by @${{ github.actor }}
env:
  DOCKER_REGISTRY: ghcr.io
jobs:
  nuget:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    permissions:
      id-token: write   # REQUIRED for provenance
      contents: read    # standard for checkout
      packages: read
    concurrency:
      group: release-unity-sdk
      cancel-in-progress: true
    strategy:
      matrix:
        unityVersion:
          - 6000.3.0f1
        gameCiVersion:
          - 3.2.1
    steps:
      - name: review options
        run: |
          echo dryRun=${{ inputs.dryRun }}
          echo commit=${{ inputs.commit }}
          echo major=${{ inputs.major }}
          echo minor=${{ inputs.minor }}
          echo patch=${{ inputs.patch }}
          echo rc=${{ inputs.rcNumber }}
          echo releaseType=${{ inputs.releaseType }}
         
      - uses: actions/checkout@v4
        with: 
          ref: ${{ github.event.inputs.commit }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.DOCKER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Image Review
        run: |
          docker image ls

      - name: Docker Image Review
        run: |
          docker pull ghcr.io/beamable/editor:ubuntu-6000.3.0f1-base-3.2.1

      - name: Docker Image Review
        run: |
          docker image ls

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
            
      - name: Update npm
        run: npm install -g npm@latest
      - name: Check Npm version
        run: npm --version

      - name: Install JQ
        run: |
          sudo apt-get update
          sudo apt-get install jq
          jq --version

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.1
          cache-dependency-path: ./otel-collector/beamable-collector/go.sum

      - name: Build Otel Collector
        working-directory: ./otel-collector
        run: |
          OUTPUT_DIRECTORY="$(pwd)/../otel-bin" bash ./build.sh

      - name: Add collector version
        run: |
            sh ./build/bin/set-collector-version-property.sh

      - name: Install CLI
        working-directory: ./
        run: |
          bash ./setup.sh
          bash ./dev.sh 

      - name: Check CLI
        run: beam version

      - name: Get Version Number (Nightly)
        if: ${{ inputs.releaseType == 'nightly' }} 
        run: beam version construct 0 0 0 --nightly > version.txt
      
      - name: Get Version Number (RC)
        if: ${{ inputs.releaseType == 'rc' }} 
        run: beam version construct ${{ inputs.major }} ${{ inputs.minor }} ${{ inputs.patch }} --rc ${{ inputs.rcNumber }} > version.txt
      
      - name: Get Version Number (Exp)
        if: ${{ inputs.releaseType == 'exp' }} 
        run: beam version construct ${{ inputs.major }} ${{ inputs.minor }} ${{ inputs.patch }} --exp ${{ inputs.rcNumber }} > version.txt
      
      - name: Get Version Number (Prod)
        if: ${{ inputs.releaseType == 'production' }} 
        run: beam version construct ${{ inputs.major }} ${{ inputs.minor }} ${{ inputs.patch }} --prod > version.txt
      
      - name: Store version number as output
        id: version
        env: 
          NPM_TAG: >-
            ${{ fromJson('{
              "nightly": "--tag nightly",
              "rc": "--tag rc",
              "exp": "--tag exp",
              "production": ""
            }')[github.event.inputs.releaseType] }}
          NEXUS_REGISTRY: >-
            ${{ fromJson('{
              "nightly": "https://nexus.beamable.com/nexus/content/repositories/unity-dev",
              "rc": "https://nexus.beamable.com/nexus/content/repositories/unity-preview",
              "exp": "https://nexus.beamable.com/nexus/content/repositories/unity-preview",
              "production": "https://nexus.beamable.com/nexus/content/repositories/unity"
            }')[github.event.inputs.releaseType] }}
          BUILD_ENV: >-
            ${{ fromJson('{
              "nightly": "dev",
              "rc": "staging",
              "exp": "staging",
              "production": "prod"
            }')[github.event.inputs.releaseType] }}
        run: |
          echo "VERSION=$(cat version.txt | jq -r .data.versionString)" >> "$GITHUB_OUTPUT"
          echo "VERSION_PREFIX=$(cat version.txt | jq -r .data.versionPrefix)" >> "$GITHUB_OUTPUT"
          echo "VERSION_SUFFIX=$(cat version.txt | jq -r .data.versionSuffix)" >> "$GITHUB_OUTPUT"
          echo "BUILD_ENV=$BUILD_ENV" >> "$GITHUB_OUTPUT"
          echo "NEXUS_REG=$NEXUS_REG" >> "$GITHUB_OUTPUT"
          echo "NPM_TAG=$NPM_TAG" >> "$GITHUB_OUTPUT"

      - name: review version
        run: |
          echo version=${{ steps.version.outputs.VERSION }}
          echo version prefix=${{ steps.version.outputs.VERSION_PREFIX }}
          echo version suffix=${{ steps.version.outputs.VERSION_SUFFIX }}
          echo build-env=${{steps.version.outputs.BUILD_ENV}}
          echo nexus-reg=${{steps.version.outputs.NEXUS_REG}}
          echo npm-tag=${{steps.version.outputs.NPM_TAG}}

      - name: Prepare Unity Env
        run: sh ./build/bin/modify-unity-files.sh
        env:
          VERSION: ${{ steps.version.outputs.VERSION }}
          ENVIRONMENT: ${{steps.version.outputs.BUILD_ENV}}
          
      - name: Apply Nuget Version to Unity SDK
        run: |
          beam unity download-all-nuget-packages ./client --logs v

      - name: Prepare Unity Samples
        run: sh ./../../../build/bin/prepare-samples.sh
        working-directory: ./client/Packages/com.beamable/
      
      - name: Update UPM Versions (com.beamable)
        run: npm version ${{ steps.version.outputs.VERSION }}
        working-directory: ./client/Packages/com.beamable/
        env:
          NPM_REGISTRY: https://registry.npmjs.org

      - name: Update UPM Version (com.beamable.server)
        run: npm version ${{ steps.version.outputs.VERSION }}
        working-directory: ./client/Packages/com.beamable.server/
        env:
          NPM_REGISTRY: https://registry.npmjs.org

      - name: Review Unity SDK Files
        run: |
          ls ./client/Packages/com.beamable/Runtime/Environment/Resources
          cat client/Packages/com.beamable/Runtime/Environment/Resources/env-default.json
          cat client/Packages/com.beamable.server/package.json
          ls ./client/Packages/com.beamable
          ls ./client/Packages/com.beamable/Samples~
          cat client/Packages/com.beamable/package.json
      

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: false
          
          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true


      - uses: game-ci/unity-builder@v4
        timeout-minutes: 60
        env:
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
          UNITY_SERIAL: ${{ secrets.UNITY_SERIAL }}
          BEAM_ORG_ID:  ${{ secrets.BEAMABLE_UNITY_ORG_ID }}
          DOTNET_CLI_UI_LANGUAGE: en
          DOTNET_SYSTEM_GLOBALIZATION_INVARIANT: 1
          LANG: en_US.UTF-8
          LC_ALL: en_US.UTF-8
        with:
          customImage: ${{ env.DOCKER_REGISTRY }}/beamable/editor:ubuntu-${{ matrix.unityVersion }}-base-${{ matrix.gameCiVersion }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          unityVersion: ${{ matrix.unityVersion }}
          projectPath: client
          allowDirtyBuild: true
          versioning: Custom
          version: ${{ steps.version.outputs.VERSION }}
          buildMethod: GithubActions.BundlePackage

      - name: Review Output
        run: ls -a client/build/package_dist

      - name: Release com.beamable UPM Package to Public
        if: ${{ inputs.dryRun == false }}
        run: npm publish client/build/package_dist/ ${{steps.version.outputs.NPM_TAG}}
        working-directory: ./client/Packages/com.beamable
        env:
          NPM_REGISTRY: https://registry.npmjs.org
        
      - name: Release com.beamable UPM Package to Nexus
        if: ${{ inputs.dryRun == false }}
        run: npm publish
        working-directory: ./client/Packages/com.beamable
        env: 
          NODE_AUTH_TOKEN: ${{ secrets.NEXUS_NPM_AUTH }}
          NPM_AUTH: ${{secrets.NEXUS_NPM_AUTH}}
          NPM_REGISTRY: ${{steps.version.outputs.NEXUS_REG}}

      - name: Release com.beamable.server UPM Package
        if: ${{ inputs.dryRun == false }}
        run: npm publish
        working-directory: ./client/Packages/com.beamable.server
        env: 
          NODE_AUTH_TOKEN: ${{ secrets.NEXUS_NPM_AUTH }}
          NPM_AUTH: ${{secrets.NEXUS_NPM_AUTH}}
          NPM_REGISTRY: ${{steps.version.outputs.NEXUS_REG}}

      - name: Publish Changelog
        if: ${{ inputs.dryRun == false }} 
        run: sh ./build/bin/upload-changelogs.sh
        env:
          COPY_UNITY_SDK: 'true'
          COPY_CLI: 'false'
          COPY_WEB_SDK: 'false'
          VERSION: ${{ steps.version.outputs.VERSION }}
          GITHUB_USERNAME: ${{ secrets.GIT_CHANGELOGS_USERNAME }}
          GITHUB_PASSWORD: ${{ secrets.GIT_CHANGELOGS_PASSWORD }}
          BRANCH: >-
            ${{ fromJson('{
              "nightly": "daily",
              "rc": "staging",
              "exp": "staging",
              "production": "production"
            }')[github.event.inputs.releaseType] }}

      - name: Create Release
        id: create_release
        if: ${{ inputs.dryRun == false }} 
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: unity-sdk-${{ steps.version.outputs.VERSION }}
          release_name: Unity SDK ${{ steps.version.outputs.VERSION }}
          body: |
            Unity SDK Release ${{ steps.version.outputs.VERSION }}
          draft: false
          prerelease: ${{ inputs.releaseType != 'production' }}
